.wrapper {
  padding: 24px 150px;
  background-color: var(--color-bg-2);
  box-sizing: border-box;
  min-height: calc(100vh - 168px);
}

.result {
  margin: 150px 0 36px;
}

.steps-wrapper {
  width: 100%;
  min-width: fit-content;
  padding: 20px;
  background-color: var(--color-fill-2);
  box-sizing: border-box;
  margin-bottom: 150px;
}
