<<<<<<< HEAD:crates/rspack_plugin_css/tests/fixtures/webpack/.import/expected/main.css
@import url(https://some/other/external/css);
@import url(https://some/external/css);
=======


body {
  background: red;
}

>>>>>>> Fix/import statement wrong order (#485):crates/rspack_plugin_css/tests/fixtures/webpack/at-import-in-the-middle/expected/main.css
.c {
  background: red;
}
@import url("https://some/other/external/css");
.c {
  color: yellow;
}

body {
  background: red;
}

.b {
  background: red;
}
@import url("https://some/external/css");
.b {
  color: yellow;
}

