@import url(https://some/other/external/css);
@import url(https://some/external/css);
.c {
  background: red;
}
@import url("https://some/other/external/css");
.c {
  color: yellow;
}

body {
  background: red;
}

.b {
  background: red;
}
@import url("https://some/external/css");
.b {
  color: yellow;
}

