:global {
  html:not(.dark) {
    --landingpage-title-color: #0b0c0e;
    --landingpage-desc-color: #6b7075;
    --landingpage-invert-filter: none;

    --why-rspack-card-stroke: #e6e8ea;
    --why-rspack-card-gradient: var(
      --Light-card-gradient,
      conic-gradient(
        from 225deg at 50% 50%,
        rgba(249, 249, 249, 0.8) 0.9960873518139124deg,
        #fff 360deg
      )
    );
    --why-rspack-description-bg: var(
      --Linear-Dark,
      linear-gradient(90deg, #0b0c0e 0%, rgba(11, 12, 14, 0.4) 100%)
    );
  }

  html.dark {
    --landingpage-title-color: white;
    --landingpage-desc-color: #c6cacd;

    --landingpage-invert-filter: invert(1);

    --why-rspack-card-stroke: #23272f;
    --why-rspack-card-gradient: var(
      --Flipped-Angular-gradient,
      conic-gradient(
        from 225deg at 50.02% 50.04%,
        rgba(255, 255, 255, 0) 0deg,
        rgba(255, 255, 255, 0.06) 360deg
      ),
      rgba(11, 12, 14, 0.8)
    );
    --why-rspack-description-bg: var(
      --Text-gradient-white,
      linear-gradient(87deg, #fff -2.53%, rgba(255, 255, 255, 0.4) 103.84%)
    );
  }
}

.landingPage {
  position: relative;
}

.background {
  position: absolute;
  top: calc(-1 * var(--rp-nav-height));
  left: 0;
  width: 100%;
  z-index: -1;
  pointer-events: none;
  filter: blur(2px);
}
