// ---------- responsive layout
// XXL > 1440
// XL 1280 - 1440
// L 835 - 1280
// M 400 - 834
// S < 400

// XXL
@media only screen and (min-width: 1441px) {
  .container {
    padding: 64px 144px;
  }
}

// XL
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  .container {
    padding: 64px 144px;
  }
}

// L
@media only screen and (min-width: 835px) and (max-width: 1280px) {
  .container {
    padding: 64px 80px;
  }
}

// M
@media only screen and (min-width: 400px) and (max-width: 834px) {
  .container {
    padding: 32px;
  }
}

// S
@media only screen and (max-width: 399px) {
  .container {
    padding: 24px;
  }
}

// 1. container for padding
// 2. innerContainer for max-width
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // padding: 32px move to mediaQuery

  .innerContainer {
    // for max-width
    display: flex;
    gap: 32px;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
  }
}

.titleAndDesc {
  display: flex;
  padding: 0px 144px 32px 144px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  .title {
    color: var(--landingpage-title-color);
    text-align: center;

    /* Style 10 */
    font-family: 'Open Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 100% */
  }

  .desc {
    color: var(--landingpage-desc-color);
    text-align: center;

    /* Style 11 */
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
  }
}

// ---------- dark mode
:global {
  html:not(.dark) {
    --landingpage-title-color: #0b0c0e;
    --landingpage-desc-color: #6b7075;
    --landingpage-invert-filter: none;

    --why-rspack-card-stroke: #e6e8ea;
    --why-rspack-card-gradient: var(
      --Light-card-gradient,
      conic-gradient(
        from 225deg at 50% 50%,
        rgba(249, 249, 249, 0.8) 0.9960873518139124deg,
        #fff 360deg
      )
    );
    --why-rspack-description-bg: var(
      --Linear-Dark,
      linear-gradient(90deg, #0b0c0e 0%, rgba(11, 12, 14, 0.4) 100%)
    );
  }

  html.dark {
    --landingpage-title-color: white;
    --landingpage-desc-color: #c6cacd;

    --landingpage-invert-filter: invert(1);

    --why-rspack-card-stroke: #23272f;
    --why-rspack-card-gradient: var(
      --Flipped-Angular-gradient,
      conic-gradient(
        from 225deg at 50.02% 50.04%,
        rgba(255, 255, 255, 0) 0deg,
        rgba(255, 255, 255, 0.06) 360deg
      ),
      rgba(11, 12, 14, 0.8)
    );
    --why-rspack-description-bg: var(
      --Text-gradient-white,
      linear-gradient(87deg, #fff -2.53%, rgba(255, 255, 255, 0.4) 103.84%)
    );
  }
}
