$header-height: 64px;
$main-bg-color: #152337;
$light-grey: #B4C5D5;
$dark-font-color: #28234A;
$grey-font-color: #18191F;
$container-width: 1110px;
$container-width-lg: 1400px;
$sidebar-width-closed: 90px;
$sidebar-width-opened: 240px;
$add-nav-width: 220px;
