[package]
edition    = "2021"
license    = "MIT"
name       = "rspack_binding_options"
repository = "https://github.com/modern-js-dev/rspack"
version    = "0.1.0"

[features]
default  = ["napi-derive/noop"]
node-api = []

[dependencies]
anyhow = { version = "1", features = ["backtrace"] }
async-trait = "0.1.53"
cfg-if = "1.0.0"
dashmap = "5.0.0"
napi = { workspace = true, features = [
  "async",
  "tokio_rt",
  "serde-json",
  "anyhow",
] }
napi-derive = { workspace = true, version = "2" }
once_cell = "1"
regex = "1.6.0"
rspack_binding_macros = { path = "../rspack_binding_macros" }
rspack_core = { path = "../rspack_core" }
rspack_error = { path = "../rspack_error" }
rspack_loader_sass = { path = "../rspack_loader_sass" }
rspack_napi_utils = { path = "../rspack_napi_utils" }
rspack_plugin_css = { path = "../rspack_plugin_css" }
rspack_plugin_dev_friendly_split_chunks = { path = "../rspack_plugin_dev_friendly_split_chunks" }
rspack_plugin_html = { path = "../rspack_plugin_html" }
rspack_plugin_progress = { path = "../rspack_plugin_progress" }
rspack_plugin_split_chunks = { path = "../rspack_plugin_split_chunks" }
rspack_regex = { path = "../rspack_regex" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
swc_core = { workspace = true, default-features = false, features = [
  "ecma_transforms_react",
] }
# swc_ecma_transforms = { workspace = true, features = [
#   "swc_ecma_transforms_react",
# ] }
swc_emotion = "0.29.4"
tokio = { version = "1.21.0", features = [
  "rt",
  "rt-multi-thread",
  "macros",
  "test-util",
  "parking_lot",
] }
tracing = "0.1.34"
