.container {
  display: flex;
  padding: 64px 144px;
  align-items: center;
  justify-content: center;
}

.innerContainer {
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: url('./assets/bg.png') no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.title {
  text-align: center;

  /* Style 10 */
  font-family: 'Open Sans';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */

  background: linear-gradient(279deg, #ff8b00 27.12%, #f93920 72.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logos {
  display: flex;
  height: 136.507px;
  align-items: flex-start;
  align-self: stretch;

  .logo {
    display: flex;
    padding: 48px;
    justify-content: center;
    align-items: center;

    flex: 1 0 0;
    align-self: stretch;
  }
}

.bitDevContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  .bitDevLogo {
    width: 40px;
    height: 40px;
  }
  .bitDevText {
    color: var(--Text-primary-color, #0b0c0e);
    text-align: center;
    font-family: 'Open Sans';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
  }
}

.microsoftLogo {
  width: 180px;
  max-width: 180px; // override the img { max-width: 100%;}
}
.amazonLogo {
  width: 120px;
  max-width: 120px; // override the img { max-width: 100%;}
}
.bytedanceLogo {
  width: 200px;
  max-width: 200px; // override the img { max-width: 100%;}
}
.inituitLogo {
  width: 140px;
  max-width: 140px; // override the img { max-width: 100%;}
}
