# About code owners

# https://help.github.com/en/articles/about-code-owners

# Default to project owner

- @hardfist

# Ignore lock files

Cargo.lock
pnpm-lock.yaml

# Infra

/benchcases @IWANABETHATGUY
/.github/workflows @IWANABETHATGUY @h-a-n-a
/scripts @Boshen @hyf0

# Examples

/examples @hardfist

# Webpack Tests

/webpack-test @IWANABETHATGUY

# Crates in alphabetical order

/crates/bench @IWANABETHATGUY
/crates/cargo-rst @JSerFeng
/crates/loader_runner @h-a-n-a
/crates/node_binding @h-a-n-a
/crates/rspack @h-a-n-a
/crates/rspack_ast_viewer @h-a-n-a
/crates/rspack_base64 @h-a-n-a
/crates/rspack_binding_macros @h-a-n-a
/crates/rspack_binding_options @h-a-n-a
/crates/rspack_build @Boshen
/crates/rspack_core/src/build_chunk_graph @hyf0
/crates/rspack_core/src/tree_shaking @IWANABETHATGUY
/crates/rspack_core @h-a-n-a @hyf0
/crates/rspack_database @hyf0
/crates/rspack_error @IWANABETHATGUY @ahabhgk @h-a-n-a
/crates/rspack_fs @h-a-n-a
/crates/rspack_fs_node @h-a-n-a
/crates/rspack_futures @h-a-n-a
/crates/rspack_identifier @h-a-n-a
/crates/rspack_ids @hyf0
/crates/rspack_loader_sass @ahabhgk
/crates/rspack_napi_shared @h-a-n-a
/crates/rspack_plugin_asset @ahabhgk @h-a-n-a
/crates/rspack_plugin_copy @JSerFeng
/crates/rspack_plugin_css @ahabhgk
/crates/rspack_plugin_dev_friendly_split_chunks @hyf0
/crates/rspack_plugin_devtool @ahabhgk
/crates/rspack_plugin_externals @ahabhgk @h-a-n-a
/crates/rspack_plugin_html @ahabhgk
/crates/rspack_plugin_javascript @ahabhgk @h-a-n-a
/crates/rspack_plugin_json @ahabhgk @h-a-n-a
/crates/rspack_plugin_library @underfin
/crates/rspack_plugin_progress @underfin
/crates/rspack_plugin_remove_empty_chunks @hyf0
/crates/rspack_plugin_runtime @underfin
/crates/rspack_plugin_split_chunks @hyf0 @h-a-n-a
/crates/rspack_plugin_wasm @ahabhgk @h-a-n-a
/crates/rspack_regex @IWANABETHATGUY
/crates/rspack_symbol @IWANABETHATGUY
/crates/rspack_testing @ahabhgk
/crates/rspack_tracing @hyf0
/crates/rspack_util @hyf0

# Packages in alphabetical order

/packages/create-rspack @hardfist
/packages/postcss-loader @ahabhgk
/packages/rspack @hardfist
/packages/rspack-cli
/packages/rspack-dev-client
/packages/rspack-dev-middleware
/packages/rspack-dev-server
/packages/rspack-plugin-html @ahabhgk
/packages/rspack-plugin-minify @hardfist
/packages/rspack-plugin-node-polyfill
