# About code owners

# https://help.github.com/en/articles/about-code-owners

# Rspack Project Owner is @hardfist

# Default to no one

# *

# Ignore lock files

Cargo.lock
pnpm-lock.yaml

# Infra

Cargo.toml @quininer
/.github/workflows @stormslowly
/.github/actions @stormslowly
/.github/ISSUE_TEMPLATE @chenjiahan
/scripts @stormslowly
/tasks @stormslowly

# Crates in alphabetical order

/crates/node_binding
/crates/rspack @h-a-n-a
/crates/rspack_base64
/crates/rspack_binding_api @h-a-n-a
/crates/rspack_binding_build @h-a-n-a
/crates/rspack_binding_builder @h-a-n-a
/crates/rspack_binding_builder_macros @h-a-n-a
/crates/rspack_binding_builder_testing @h-a-n-a
/crates/rspack_browserslist @hardfist
/crates/rspack_cacheable @jerrykingxyz
/crates/rspack_cacheable_test @jerrykingxyz
/crates/rspack_core
/crates/rspack_core/src/compiler/make @jerrykingxyz
/crates/rspack_error
/crates/rspack_fs
/crates/rspack_fs_node
/crates/rspack_futures
/crates/rspack_collections
/crates/rspack_ids

# Loaders

/crates/rspack_loader_lightningcss @JSerFeng
/crates/rspack_loader_swc
/crates/rspack_loader_preact_refresh @LingyuCoder
/crates/rspack_loader_react_refresh @ahabhgk
/crates/rspack_loader_runner @h-a-n-a

# Plugins

/crates/rspack_plugin_asset
/crates/rspack_plugin_banner
/crates/rspack_plugin_copy
/crates/rspack_plugin_css
/crates/rspack_plugin_devtool
/crates/rspack_plugin_entry
/crates/rspack_plugin_externals
/crates/rspack_plugin_html @LingyuCoder
/crates/rspack_plugin_javascript
/crates/rspack_plugin_json
/crates/rspack_plugin_library
/crates/rspack_plugin_mf @ahabhgk
/crates/rspack_plugin_progress
/crates/rspack_plugin_real_content_hash
/crates/rspack_plugin_remove_empty_chunks
/crates/rspack_plugin_rsdoctor @LingyuCoder
/crates/rspack_plugin_rslib @LingyuCoder
/crates/rspack_plugin_rstest @LingyuCoder
/crates/rspack_plugin_runtime
/crates/rspack_plugin_schemes
/crates/rspack_plugin_split_chunks @JSerFeng
/crates/rspack_plugin_wasm
/crates/rspack_tracing @hardfist
/crates/rspack_tracing_perfetto @hardfist
/crates/rspack_util
/crates/swc_plugin_ts_collector @ahabhgk

# npm packages in alphabetical order

/packages/create-rspack @chenjiahan
/packages/rspack @hardfist
/packages/rspack-cli @hardfist
/packages/rspack-test-tools @LingyuCoder

# Tests

/tests/bench
/tests/e2e
/tests/webpack-cli-test
/tests/webpack-examples
/tests/webpack-test
