# About code owners

# https://help.github.com/en/articles/about-code-owners

# Rspack Project Owner is @hardfist

# Default to no one

# *

# Ignore lock files

Cargo.lock
pnpm-lock.yaml

# Infra

/.github/workflows @jerrykingxyz
/benchcases @IWANABETHATGUY
/scripts @jerrykingxyz

# Webpack Tests

/webpack-test

# Crates in alphabetical order

/crates/rspack
/crates/node_binding
/crates/rspack_ast_viewer
/crates/rspack_base64
/crates/rspack_binding_options
/crates/rspack_core
/crates/rspack_core/src/compiler/make @jerrykingxyz
/crates/rspack_database
/crates/rspack_error
/crates/rspack_fs
/crates/rspack_fs_node
/crates/rspack_futures
/crates/rspack_identifier
/crates/rspack_ids
/crates/rspack_napi_shared

# Loaders

/crates/rspack_loader_swc

# Plugins

/crates/rspack_plugin_asset
/crates/rspack_plugin_banner
/crates/rspack_plugin_copy
/crates/rspack_plugin_css
/crates/rspack_plugin_devtool
/crates/rspack_plugin_entry
/crates/rspack_plugin_externals
/crates/rspack_plugin_html
/crates/rspack_plugin_javascript
/crates/rspack_plugin_json
/crates/rspack_plugin_library
/crates/rspack_plugin_progress
/crates/rspack_plugin_real_content_hash
/crates/rspack_plugin_remove_empty_chunks
/crates/rspack_plugin_runtime
/crates/rspack_plugin_schemes
/crates/rspack_plugin_split_chunks
/crates/rspack_plugin_wasm
/crates/rspack_regex @IWANABETHATGUY
/crates/rspack_symbol @IWANABETHATGUY
/crates/rspack_tracing
/crates/rspack_util

# Packages in alphabetical order

/packages/create-rspack
/packages/postcss-loader
/packages/rspack
/packages/rspack-cli
/packages/rspack-dev-middleware
/packages/rspack-dev-server
/packages/rspack-plugin-html
/packages/rspack-plugin-minify
/packages/rspack-plugin-node-polyfill
