[package]
description       = "rspack util"
edition.workspace = true
license           = "MIT"
name              = "rspack_util"
repository        = "https://github.com/web-infra-dev/rspack"
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
allocative       = { workspace = true, optional = true }
base64-simd      = { workspace = true }
bitflags         = { workspace = true }
concat-string    = { workspace = true }
cow-utils        = { workspace = true }
dashmap          = { workspace = true }
indexmap         = { workspace = true }
itoa             = { workspace = true }
memchr           = { workspace = true }
regex            = { workspace = true, features = ["pattern"] }
ropey            = { workspace = true }
rspack_cacheable = { workspace = true }
rspack_paths     = { workspace = true }
rustc-hash       = { workspace = true }
ryu-js           = { workspace = true }
serde            = { workspace = true }
serde_json       = { workspace = true }
sugar_path       = { workspace = true }
unicase          = { workspace = true }

swc_config = { workspace = true }
swc_core   = { workspace = true, features = ["__common", "base", "ecma_ast"] }

# wasm runtime
anyhow            = { workspace = true, optional = true }
once_cell         = { workspace = true, optional = true }
swc_plugin_runner = { workspace = true, optional = true }
wasi-common       = { workspace = true, optional = true, features = ["sync", "wasmtime"] }
wasmtime          = { workspace = true, optional = true, features = ["runtime", "cranelift", "threads"] }

rspack_regex = { workspace = true }
signal-hook  = { workspace = true, optional = true }

[features]
debug_tool = ["signal-hook"]                                                         # only used for local debug and  should not be enabled in production release
plugin     = ["anyhow", "once_cell", "wasmtime", "wasi-common", "swc_plugin_runner"]

[lints.rust.unexpected_cfgs]
check-cfg = ['cfg(allocative)']
level     = "warn"
