benchcases/**/*.js linguist-detectable=false
webpack-examples/**/*.js linguist-detectable=false
webpack-test/**/*.js linguist-detectable=false
**/tests/**/*.js linguist-detectable=false
rspack-test-tools/**/*.snap.txt text diff=markdown
**/tests/** eol=lf
*.css eol=lf
*.js eol=lf
*.ts eol=lf

* text=auto
