benchcases/** linguist-generated=true
fixtures/** linguist-generated=true
webpack-test/** linguist-generated=true


benchcases/** linguist-detectable=false
fixtures/** linguist-detectable=false
webpack-test/** linguist-detectable=false
