webpack-examples/**/*.js linguist-detectable=false
webpack-test/**/*.js linguist-detectable=false
**/tests/**/*.js linguist-detectable=false
**/tests/** eol=lf
*.snap.txt text -eol=lf diff=markdown linguist-language=Markdown -linguist-documentation=false -linguist-detectable=false
*.css eol=lf
*.js eol=lf
*.ts eol=lf

* text=auto
