node-linker=hoisted
registry=https://registry.npmjs.org/
strict-peer-dependencies=false

# Change pnpm 8 settings to pnpm 7
auto-install-peers=false
dedupe-peer-dependents=false
resolve-peers-from-workspace-root=false
resolution-mode='highest'
# trying fix windows install error for pnpm8, see https://github.com/pnpm/pnpm/issues/7024#issuecomment-1740740451
package-import-method=clone-or-copy 