registry=https://registry.npmjs.org/

# The package of the same name conflicts with node:buffer and it will affect our ci results. https://www.npmjs.com/package/buffer 
hoist-pattern[]=!buffer

# Use symlinked executables instead of command shims with `NODE_PATH` to achieve better DX in debugging with LLDB, etc.
# See: https://pnpm.io/npmrc#prefer-symlinked-executables
prefer-symlinked-executables=true