node-linker=hoisted
strict-peer-dependencies=false

# Change pnpm 8 settings to pnpm 7
auto-install-peers=false
dedupe-peer-dependents=false
resolve-peers-from-workspace-root=false
resolution-mode='highest'
