# Ignore generated
dist/
compiled/
target/

# Ignore lock files
pnpm-lock.yaml

# Ignore unknown format
LICENSE
gitignore
.gitignore
*.svg

# Ignore test related
tests/rspack-test/**/*
packages/**/etc/**/*
tests/e2e/cases/make/rewrite-factorize-request/file.js

# Crates
crates/**
!crates/**/
!crates/**/*.md
