[workspace]
exclude = [
  "crates/node_binding",
] # Avoid including node binding, since feature unification will cause an linking issue. See: https://doc.rust-lang.org/cargo/reference/features.html#feature-unification
members = ["crates/*", "xtask"]

[profile.dev]
debug       = 2
incremental = true

[profile.release]
codegen-units = 1
debug         = false
incremental   = true
lto           = false
opt-level     = 3


[workspace.dependencies]
swc_core          = { version = "0.48.22", default-features = false }
swc_css           = { version = "0.141.5" }
swc_html          = { version = "0.97.7" }
swc_html_minifier = { version = "0.94.7" }

preset_env_base = { version = "0.3.3" }
