[workspace]
members  = ["crates/*"]
resolver = "2"          # See https://doc.rust-lang.org/cargo/reference/resolver.html#feature-resolver-version-2

[workspace.dependencies]
anyhow             = { version = "1.0.71", features = ["backtrace"] }
async-recursion    = { version = "1.0.4" }
async-scoped       = { version = "0.7.1" }
async-trait        = { version = "0.1.71" }
backtrace          = "0.3"
better_scoped_tls  = { version = "0.1.1" }
bitflags           = { version = "1.3.2" }
colored            = { version = "2.0.4" }
concat-string      = "1.0.1"
dashmap            = { version = "5.5.0" }
derivative         = { version = "2.2.0" }
derive_builder     = { version = "0.11.2" }
futures            = { version = "0.3.28" }
futures-util       = { version = "0.3.28" }
glob               = { version = "0.3.1" }
hashlink           = { version = "0.8.3" }
indexmap           = { version = "=1.9.3", features = ["serde-1"] }
insta              = { version = "1.30.0" }
itertools          = { version = "0.10.5" }
json               = { version = "0.12.4" }
linked_hash_set    = { version = "0.1.4" }
mimalloc-rust      = { version = "0.2" }
mime_guess         = { version = "2.0.4" }
once_cell          = { version = "1.18.0" }
paste              = { version = "1.0" }
path-clean         = { version = "1.0.1" }
pathdiff           = { version = "0.2.1" }
preset_env_base    = { version = "0.4.6" }
proc-macro2        = { version = "1.0.76" }
quote              = { version = "1.0.35" }
rayon              = { version = "1.7.0" }
regex              = { version = "1.9.1" }
rkyv               = { version = "0.7.42" }
rspack_sources     = { version = "0.2.7" }
rustc-hash         = { version = "1.1.0" }
schemars           = { version = "0.8.12" }
serde              = { version = "1.0.195" }
serde_json         = { version = "1.0.100" }
similar            = { version = "2.2.1" }
sugar_path         = { version = "0.0.12" }
syn                = { version = "2.0.48" }
testing_macros     = { version = "0.2.11" }
tokio              = { version = "1.29.1" }
tracing            = { version = "0.1.40" }
tracing-subscriber = { version = "0.3.18" }
url                = { version = "2.4.0" }
urlencoding        = { version = "2.1.2" }
ustr               = { version = "0.9.0" }
xxhash-rust        = { version = "0.8.6" }

# Pinned
napi                = { version = "=2.13.3" }
napi-build          = { version = "=2.0.1" }
napi-derive         = { version = "=2.13.0" }
napi-sys            = { version = "=2.2.3" }
styled_components   = { version = "0.91.0" }
swc_config          = { version = "=0.1.9" }
swc_core            = { version = "=0.87.21", default-features = false }
swc_css             = { version = "=0.157.29" }
swc_ecma_minifier   = { version = "=0.190.17", default-features = false }
swc_emotion         = { version = "=0.67.0" }
swc_error_reporters = { version = "=0.17.12" }
swc_html            = { version = "=0.135.20" }
swc_html_minifier   = { version = "=0.132.20" }
swc_node_comments   = { version = "=0.20.12" }
tikv-jemallocator   = { version = "=0.5.4", features = ["disable_initial_exec_tls"] }

[workspace.lints.clippy]
pub_use = "warn"
[profile.dev]
codegen-units = 16      # debug build will cause runtime panic if codegen-unints is default
debug         = 2
incremental   = true
panic         = "abort"

[profile.release]
codegen-units = 1
debug         = false
lto           = false   # disabled by now, because it will significantly increase our compile time.
opt-level     = 3
panic         = "abort"
strip         = true
