[workspace]
exclude = [
  "crates/node_binding",
] # Avoid including node binding, since feature unification will cause an linking issue. See: https://doc.rust-lang.org/cargo/reference/features.html#feature-unification
members = ["crates/*", "xtask"]

[profile.dev]
debug       = 2
incremental = true

[profile.release]
codegen-units = 1
debug         = false
incremental   = true
lto           = false
opt-level     = 3


[workspace.dependencies]
napi              = { version = "=2.10.6" }
napi-build        = { version = "=2.0.1" }
napi-derive       = { version = "=2.9.4" }
napi-sys          = { version = "=2.2.2" }
preset_env_base   = { version = "0.4.0" }
rspack_sources    = { git = "https://github.com/modern-js-dev/rspack-sources.git", rev = "ab9f15cc616d343a6aa3172d4b6fead0baef5651" }
rustc-hash        = { version = "1.1.0" }
serde             = "1.0.152"
serde_json        = "1.0.91"
swc_core          = { version = "0.59.6", default-features = false }
swc_css           = { version = "0.149.2" }
swc_html          = { version = "0.105.1" }
swc_html_minifier = { version = "0.102.1" }
tracing           = "0.1.34"
