[workspace]
members  = ["crates/*"]
resolver = "2"          # See https://doc.rust-lang.org/cargo/reference/resolver.html#feature-resolver-version-2

[workspace.dependencies]
anyhow             = { version = "1.0.81", features = ["backtrace"] }
anymap             = { version = "=1.0.0-beta.2" }
async-recursion    = { version = "1.1.0" }
async-scoped       = { version = "0.9.0" }
async-trait        = { version = "0.1.79" }
bitflags           = { version = "2.5.0" }
concat-string      = "1.0.1"
css-module-lexer   = "0.0.12"
dashmap            = { version = "5.5.3" }
derivative         = { version = "2.2.0" }
futures            = { version = "0.3.30" }
glob               = { version = "0.3.1" }
hashlink           = { version = "0.9.0" }
heck               = { version = "0.5.0" }
indexmap           = { version = "2.2.6" }
indoc              = { version = "2.0.5" }
itertools          = { version = "0.12.1" }
json               = { version = "0.12.4" }
linked_hash_set    = { version = "0.1.4" }
mimalloc-rust      = { version = "0.2" }
mime_guess         = { version = "2.0.4" }
once_cell          = { version = "1.19.0" }
paste              = { version = "1.0" }
path-clean         = { version = "1.0.1" }
pathdiff           = { version = "0.2.1" }
proc-macro2        = { version = "1.0.79" }
quote              = { version = "1.0.35" }
rayon              = { version = "1.10.0" }
regex              = { version = "1.10.4" }
rspack_sources     = { version = "=0.2.14" }
rustc-hash         = { version = "1.1.0" }
schemars           = { version = "0.8.16" }
serde              = { version = "1.0.197" }
serde_json         = { version = "1.0.115" }
sugar_path         = { version = "1.2.0", features = ["cached_current_dir"] }
syn                = { version = "2.0.58" }
tokio              = { version = "1.37.0" }
tracing            = { version = "0.1.40" }
tracing-subscriber = { version = "0.3.18" }
unicase            = { version = "2.7.0" }
url                = { version = "2.5.0" }
urlencoding        = { version = "2.1.3" }
ustr               = { package = "ustr-fxhash", version = "1.0.0" }
xxhash-rust        = { version = "0.8.10" }

# Pinned
napi              = { package = "napi-h", version = "=2.16.1" }
napi-build        = { version = "2" }
napi-derive       = { version = "2" }
tikv-jemallocator = { version = "=0.5.4", features = ["disable_initial_exec_tls"] }

# Must be pinned with the same swc versions
rkyv                = { version = "=0.7.44" }                           # synced with swc wasm plugin
styled_components   = { version = "=0.96.15" }
swc_config          = { version = "=0.1.13" }
swc_core            = { version = "0.92.6", default-features = false }
swc_ecma_minifier   = { version = "0.194.6", default-features = false }
swc_emotion         = { version = "=0.72.13" }
swc_error_reporters = { version = "=0.17.20" }
swc_html            = { version = "=0.139.0" }
swc_html_minifier   = { version = "=0.136.0" }
swc_node_comments   = { version = "=0.20.20" }

[profile.dev]
codegen-units = 16      # debug build will cause runtime panic if codegen-unints is default
debug         = 2
incremental   = true
panic         = "abort"

[profile.release]
codegen-units = 1
debug         = false
lto           = "thin"  # Performs “thin” LTO. This is similar to “fat”, but takes substantially less time to run while still achieving performance gains similar to “fat”.
opt-level     = 3
panic         = "abort"
strip         = true
