.pureRecovery {
	missingColon /* cssmodules-pure-ignore */;
	color:{.opaquePure; :global(.opaqueGlobalPure)} !important;
	button:where(:global(.pureGlobal), .pureLocal) {
		color:red;
	}
	.afterPureRecovery { color:green; }
}
