/*!****************************************************************!*\
  !*** css ../../../node_modules/css-loader/dist/cjs.js!./c.css ***!
  \****************************************************************/
@import url(https://some/other/external/css);
/*!****************************************************************!*\
  !*** css ../../../node_modules/css-loader/dist/cjs.js!./b.css ***!
  \****************************************************************/
@import url(https://some/external/css);
/*!****************************************************************!*\
  !*** css ../../../node_modules/css-loader/dist/cjs.js!./a.css ***!
  \****************************************************************/
body {
  background: red;
}

/*!********************************************************************!*\
  !*** css ../../../node_modules/css-loader/dist/cjs.js!./c.css (1) ***!
  \********************************************************************/
.c {
  background: red;
}

.c {
  color: yellow;
}

/*!********************************************************************!*\
  !*** css ../../../node_modules/css-loader/dist/cjs.js!./b.css (1) ***!
  \********************************************************************/
.b {
  background: red;
}

.b {
  color: yellow;
}

/*!********************************************************************!*\
  !*** css ../../../node_modules/css-loader/dist/cjs.js!./index.css ***!
  \********************************************************************/


