[package]
description = "rspack module federation plugin"
edition     = "2021"
license     = "MIT"
name        = "rspack_plugin_mf"
repository  = "https://github.com/web-infra-dev/rspack"
version     = "0.1.0"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rspack_collections    = { version = "0.1.0", path = "../rspack_collections" }
rspack_core           = { version = "0.1.0", path = "../rspack_core" }
rspack_error          = { version = "0.1.0", path = "../rspack_error" }
rspack_hash           = { version = "0.1.0", path = "../rspack_hash" }
rspack_hook           = { version = "0.1.0", path = "../rspack_hook" }
rspack_loader_runner  = { version = "0.1.0", path = "../rspack_loader_runner" }
rspack_plugin_runtime = { version = "0.1.0", path = "../rspack_plugin_runtime" }
rspack_util           = { version = "0.1.0", path = "../rspack_util" }

async-trait = { workspace = true }
hashlink    = { workspace = true }
itertools   = { workspace = true }
regex       = { workspace = true }
rustc-hash  = { workspace = true }
serde       = { workspace = true }
serde_json  = { workspace = true }
tokio       = { workspace = true, features = ["rt"] }
tracing     = { workspace = true }

[package.metadata.cargo-shear]
ignored = ["tracing"]
