[package]
description       = "rspack module federation plugin"
edition.workspace = true
license           = "MIT"
name              = "rspack_plugin_mf"
repository        = "https://github.com/web-infra-dev/rspack"
version.workspace = true
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rspack_cacheable         = { workspace = true }
rspack_collections       = { workspace = true }
rspack_core              = { workspace = true }
rspack_error             = { workspace = true }
rspack_fs                = { workspace = true }
rspack_hash              = { workspace = true }
rspack_hook              = { workspace = true }
rspack_loader_runner     = { workspace = true }
rspack_plugin_javascript = { workspace = true }
rspack_plugin_runtime    = { workspace = true }
rspack_util              = { workspace = true }

async-trait = { workspace = true }
camino      = { workspace = true }
hashlink    = { workspace = true }
itertools   = { workspace = true }
regex       = { workspace = true }
rustc-hash  = { workspace = true }
serde       = { workspace = true }
serde_json  = { workspace = true }
tokio       = { workspace = true, features = ["rt"] }
tracing     = { workspace = true }

[package.metadata.cargo-shear]
ignored = ["tracing", "rspack_hash"]

[lints.rust.unexpected_cfgs]
check-cfg = ['cfg(allocative)']
level     = "warn"
