.code-block {
  color: var(--color-text-2);
  padding: 8px;
  background-color: var(--color-fill-1);
  width: fit-content;

  &-content {
    display: inline-block;
  }

  &-copy-btn {
    margin-left: 8px;
  }
}
