.container {
  display: flex;
  padding: 32px 144px;
  justify-content: center;
  align-items: center;

  .innerContainer {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}

.whyRspack {
  flex: 2 0 calc(67%) !important;
  position: relative;
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  // style
  border-radius: 20px;
  border: 1px solid var(--why-rspack-card-stroke);
  background: var(--why-rspack-card-gradient);

  .whyRspackBg {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 32px;
    right: 32px;
    z-index: 0;
    pointer-events: none;
  }

  .whyRspackContent {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;

    .whyRspackTitle {
      font-family: 'Open Sans';
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -2px;
      // style
      background: var(
        --Linear-Text,
        linear-gradient(278deg, #ff8b00 52.48%, #f93920 98.12%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .whyRspackDescription {
      // text
      font-family: 'Open Sans';
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px; /* 166.667% */

      // style
      background: var(--why-rspack-description-bg);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.features {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0px;

  .featureCard {
    display: flex;
    flex: 1 0 33%;
    padding: 32px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    // style
    border-radius: 20px;
    border: 1px solid var(--why-rspack-card-stroke);
    background: var(--why-rspack-card-gradient);
  }

  .featureIcon {
    background: url('./assets/CardBg.png') no-repeat;
    background-size: contain;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
  }

  .featureContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;

    .featureTitle {
      color: var(--landingpage-title-color);
      font-family: 'Open Sans';
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .featureDescription {
      color: var(--landingpage-desc-color);
      font-family: 'Open Sans';
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
}
