.container {
  display: flex;
  padding: 64px 144px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  display: flex;
  padding: 0px 144px 32px 144px;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  .title {
    color: var(--landingpage-title-color);
    text-align: center;
    /* Style 10 */
    font-family: 'Open Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 100% */
  }

  .subtitle {
    color: var(--landingpage-desc-color);
    text-align: center;
    /* Style 11 */
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
  }
}

.bottomLink {
  display: block;
  margin-top: 16px;
  font-size: 16px;
  color: var(--landingpage-title-color);

  &:hover {
    color: var(--rp-c-link);
  }
}

.button {
  display: flex;
  padding: var(--Button-horizontal-padding, 12px) 24px;

  justify-content: center;
  align-items: center;
  gap: 10px;

  // style
  border-radius: 25px;
  border: 2px solid var(--orange-gradient, #ff8b00);
  // text
  color: var(--landingpage-title-color, #0b0c0e);
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  text-transform: capitalize;
}
