.project-wrapper {
  cursor: pointer;

  h6 {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 14px;
  }

  .avatar {
    margin-top: 22px;
  }

  .more {
    font-size: 12px;
    margin-left: 12px;
  }
}
