.banner {
  background-color: var(--color-bg-2);
  padding: 20px;
}

.content {
  padding: 20px;
  display: flex;
}

.right {
  width: 280px;
}

.panel {
  background-color: var(--color-bg-2);
  border-radius: 4px;
  overflow: auto;
}
