[package]
description = "rspack fs"
edition     = "2021"
license     = "MIT"
name        = "rspack_fs"
repository  = "https://github.com/web-infra-dev/rspack"
version     = "0.2.0"

[dependencies]
async-trait  = { workspace = true }
dunce        = { version = "1.0.5" }
rspack_error = { path = "../rspack_error", version = "0.2.0" }
rspack_paths = { path = "../rspack_paths", version = "0.2.0" }
tokio        = { workspace = true, features = ["fs", "test-util", "macros"] }
