[package]
description       = "rspack fs"
edition.workspace = true
license           = "MIT"
name              = "rspack_fs"
repository        = "https://github.com/web-infra-dev/rspack"
version.workspace = true

[dependencies]
async-trait  = { workspace = true }
dashmap      = { workspace = true }
dunce        = { workspace = true }
notify       = { workspace = true }
pnp          = { workspace = true }
rspack_error = { workspace = true, version = "=0.2.1-alpha.0" }
rspack_paths = { workspace = true, version = "=0.2.1-alpha.0" }
rspack_util  = { workspace = true }
tokio        = { workspace = true, features = ["rt", "macros", "sync", "time"] }
tracing      = { workspace = true }

[target.'cfg(not(target_family = "wasm"))'.dependencies]
tokio = { workspace = true, features = ["rt", "macros", "sync", "fs"] }

[dev-dependencies]
tokio = { workspace = true, features = ["time"] }
