[package]
description = "rspack fs"
edition     = "2021"
license     = "MIT"
name        = "rspack_fs"
repository  = "https://github.com/web-infra-dev/rspack"
version     = "0.1.0"
[features]
async        = ["dep:futures", "dep:tokio"]
default      = ["native"]
native       = []
rspack-error = ["dep:rspack_error"]


[dependencies.rspack_error]
optional = true
path     = "../rspack_error"
version  = "0.1.0"

[dependencies.futures]
optional  = true
workspace = true

[dependencies.tokio]
optional  = true
workspace = true
