[package]
name = "rspack_node"
version = "0.1.0"
edition = "2021"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["lib", "cdylib"]

[features]
default = []
test = ["napi-derive/noop"]

[dependencies]
napi = { git = "https://github.com/speedy-js/napi-rs", branch = "speedy", default-features = false, features = ["async", "tokio_rt", "serde-json"] }
napi-derive = { git = "https://github.com/speedy-js/napi-rs", branch = "speedy" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
rspack = { path = "../rspack" }
rspack_core = { path = "../rspack_core" }
futures = "0.3"
nodejs-resolver = "0.0.12"
once_cell = "1"
async-trait = "0.1.53"
dashmap = "5.0.0"
tokio = { version = "1.17.0", features = ["full"] }
tracing = "0.1.34"

[target.'cfg(all(not(all(target_os = "linux", target_arch = "aarch64", target_env = "musl"))))'.dependencies]
mimalloc-rust = { version = "0.1" }

[build-dependencies]
napi-build = "1"
