[package]
description       = "rspack lightning css minifier plugin"
edition.workspace = true
license           = "MIT"
name              = "rspack_plugin_lightning_css_minimizer"
repository        = "https://github.com/web-infra-dev/rspack"
version.workspace = true
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lightningcss     = { workspace = true, features = ["sourcemap"] }
parcel_sourcemap = { workspace = true }
rayon            = { workspace = true }
regex            = { workspace = true }
thread_local     = { workspace = true }
tracing          = { workspace = true }

rspack_core  = { workspace = true }
rspack_error = { workspace = true }
rspack_hash  = { workspace = true }
rspack_hook  = { workspace = true }
rspack_util  = { workspace = true }

[package.metadata.cargo-shear]
ignored = ["tracing"]
