@font-face {
  font-family: 'Manrope';

  src: url('../fonts/Manrope-Regular.eot');
  src: url('../fonts/Manrope-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Manrope-Regular.woff2') format('woff2'), url('../fonts/Manrope-Regular.woff') format('woff'), url('../fonts/Manrope-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope bold';

  src: url('../fonts/Manrope-Bold.eot');
  src: url('../fonts/Manrope-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Manrope-Bold.woff2') format('woff2'), url('../fonts/Manrope-Bold.woff') format('woff'), url('../fonts/Manrope-Bold.ttf') format('truetype');
}
