:global(.globalClassName) {
  color: orange;
}

.ghi {
  color: red;
}

.class {
  color: yellow;
  composes: lessClass from "./less-file.less";
}

.other {
  color: palegreen;
  composes: scssClass from "./scss-file.scss";
}

.otherClassName {
  composes: globalClassName from global;
  background: #000;
}
