[package]
edition    = "2021"
license    = "MIT"
name       = "rspack_loader_swc"
repository = "https://github.com/web-infra-dev/rspack"
version    = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = []
plugin = [
  "swc_core/plugin_transform_host_native",
  "swc_core/plugin_transform_host_native_filesystem_cache",
  "swc_core/plugin_transform_host_native_shared_runtime",
]

[dependencies]
anyhow                   = { workspace = true }
async-trait              = { workspace = true }
base64                   = { version = "0.22" }
dashmap                  = { workspace = true }
either                   = "1"
jsonc-parser             = { version = "0.23.0", features = ["serde"] }
rspack_ast               = { path = "../rspack_ast" }
rspack_core              = { path = "../rspack_core" }
rspack_error             = { path = "../rspack_error" }
rspack_loader_runner     = { path = "../rspack_loader_runner" }
rspack_plugin_javascript = { path = "../rspack_plugin_javascript" }
rspack_util              = { path = "../rspack_util" }
serde                    = { workspace = true, features = ["derive"] }
serde_json               = { workspace = true }
stacker                  = { workspace = true }
swc_config               = { workspace = true }
swc_core                 = { workspace = true, features = ["base", "ecma_ast", "common"] }
swc_plugin_import        = { path = "../swc_plugin_import" }
tokio                    = { workspace = true }
url                      = "2.5.0"
