.title {
  color: var(--rp-c-text-1);
}

.desc {
  color: var(--rp-c-text-2);
}

.bottom-link {
  display: block;
  margin-top: 16px;
  font-size: 16px;
  color: var(--rp-c-text-2);

  &:hover {
    color: var(--rp-c-link);
  }
}

.progress-name {
  color: var(--rp-c-text-1);
  font-weight: 600;
  min-width: 160px;
}

@media screen and (min-width: 540px) {
  .item {
    flex-direction: row;
  }
}

@media screen and (max-width: 541px) {
  .item {
    flex-direction: column;
    align-items: flex-start;
  }

  .progress-name {
    margin-bottom: 8px;
  }
}
