.title {
  color: var(--rp-c-text-1);
}

.desc {
  color: var(--rp-c-text-2);
}

.bottomLink {
  display: block;
  margin-top: 16px;
  font-size: 16px;
  color: var(--rp-c-text-2);

  &:hover {
    color: var(--rp-c-link);
  }
}
