:global(.foo) {
    background-color: red;
}

:local(.bar) {
    background-color: blue;
}

:global {
    .foo {
        background-color: red;
    }
}

:local {
    .bar {
        background-color: blue;
    }
}

::v-deep .foo {
    color: sandybrown;
}
