// S
@media screen and (max-width: 600px) {
  .logo {
    width: 120px !important;
    height: 100px !important;
  }
  .ovalBg {
    width: 168px !important;
    height: 140px !important;
  }
  .buttonGroup {
    display: flex;
    padding-top: 16px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
  }
  .button {
    width: 100% !important;
  }
  .innerHero {
    height: auto !important;
    padding: 24px !important;
  }
  .title {
    font-size: 32px !important;
    line-height: normal !important;
  }
  .subtitle {
    font-size: 20px !important;
    line-height: normal !important;
  }
  .description {
    font-size: 16px !important;
    line-height: 20px;
  }

  .backgroundStarContainer {
    pointer-events: none;
    transform: scale(0.6);
  }
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  position: relative;
}

.innerHero {
  display: flex;
  width: 100%;
  height: 646px;
  padding: 64px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 216px;
  height: 180px;
  position: relative;
  user-select: none;

  .ovalBg {
    width: 303px; // 216.225px * 1.4
    height: 252px; // 180px * 1.4
    z-index: -1;
    position: absolute;
    // our logo center is on the right and down
    top: calc(50% + 5px);
    left: calc(50% + 5px);
    transform: translate(-50%, -50%);
    background-image: url('./ovalBg.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
}

.title {
  text-align: center;

  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 93.6px; /* 130% */

  // background
  background: var(
    --orange-gradient,
    linear-gradient(279deg, #ff8b00 35.21%, #f93920 63.34%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  color: var(--landingpage-title-color, #0b0c0e);
  text-align: center;

  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px; /* 144% */
}

.description {
  color: var(--landingpage-desc-color, #6b7075);
  text-align: center;
  /* Style 5 */

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 12px 24px 12px 24px;
  border-radius: 25px;
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 24px */
  text-transform: capitalize;

  &:hover {
    transition: all 0.2s;
    opacity: 0.8;
  }
}

.buttonPrimary {
  // style
  background: var(
    --orange-gradient,
    linear-gradient(279deg, #ff8b00 35.21%, #f93920 63.34%)
  );

  // text
  color: #fff;
}

.buttonSecondary {
  // style
  border: 1.5px solid var(--orange-gradient, #ff8b00);
  // text
  color: var(--landingpage-title-color, #0b0c0e);
}

.backgroundStarContainer {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  z-index: -1;

  user-select: none;
  pointer-events: none;

  .backgroundStar {
    transition: all 0.2s;
    flex-shrink: 0;

    user-select: none;
    pointer-events: none;
    filter: blur(1px);
  }
}
