.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
  margin-bottom: 4px;
}

.link {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 4px;
  color: var(--color-text-2);
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
}
