.seen {
  composes: q from "./q.module.css";
}

.cycleOne {
  composes: x from "./x.module.css";
  composes: y from "./y.module.css";
}

.cycleTwo {
  composes: y from "./y.module.css";
  composes: x from "./x.module.css";
}

.later {
  composes: p from "./p.module.css";
  composes: q from "./q.module.css";
}

.independent {
  composes: z from "./z.module.css";
}
