// M
@media screen and (min-width: 601px) and (max-width: 834px) {
  .title {
    font-size: 32px !important;
    line-height: 48px !important;
  }
  .innerContainer {
    background: url('https://assets.rspack.dev/rspack/assets/landingpage-built-with-rspack-bg-m.png')
      no-repeat !important;
    background-size: 100% 100% !important;
  }
  .logo {
    min-width: 200px !important;
  }
}

// S
@media screen and (max-width: 600px) {
  .title {
    font-size: 32px !important;
    line-height: 48px !important;
  }
  .innerContainer {
    background: url('https://assets.rspack.dev/rspack/assets/landingpage-built-with-rspack-bg-m.png')
      no-repeat !important;
    background-size: 100% 100% !important;
  }
  .logo {
    min-width: 160px !important;
  }
}

.innerContainer {
  width: 100%;
  display: flex;
  padding: 32px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: url('https://assets.rspack.dev/rspack/assets/landingpage-built-with-rspack-bg.png')
    no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.title {
  text-align: center;

  /* Style 10 */

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; /* 100% */

  background: linear-gradient(279deg, #ff8b00 27.12%, #f93920 72.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logos {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
  filter: var(--landingpage-invert-filter);
  gap: 16px;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-height: 140px;
    flex: 1 0;
    align-self: stretch;
  }

  .logoText {
    color: #0b0c0e;
    text-align: center;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
  }
}
