/* It seems tailwind have style `display: list-style` by default */
@tailwind base;
@tailwind components;
@tailwind utilities;

summary {
  display: block;
}

:root {
  --rp-c-brand: #ffa500;
  --rp-c-brand-dark: #ffa500;
  --rp-c-brand-darker: #c26c1d;
  --rp-c-brand-light: #f2a65a;
  --rp-c-brand-lighter: #f2a65a;
  --rp-c-brand-tint: rgba(250, 192, 61, 0.15);
  --rp-code-title-bg: rgba(250, 192, 61, 0.15);
  --rp-code-block-bg: rgba(214, 188, 70, 0.05);
  --rp-custom-block-info-bg: rgba(250, 192, 61, 0.05);
  --rp-custom-block-info-border: rgba(250, 192, 61, 0.5);
}

:root {
}

.dark {
  --rp-code-title-bg: rgba(128, 128, 128, 0.2);
  --rp-code-block-bg: #242424;
}

button:focus,
button:focus-visible {
  outline: none;
}

[disabled] {
  cursor: not-allowed;
}

[role='tablist'] {
  max-width: 100vw;
  padding: 0 10px;
}
