[package]
description       = "rspack swc minifier plugin"
edition.workspace = true
license           = "MIT"
name              = "rspack_plugin_swc_js_minimizer"
repository        = "https://github.com/web-infra-dev/rspack"
version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cow-utils = { workspace = true }
once_cell = { workspace = true }
rayon = { workspace = true }
regex = { workspace = true }
rspack_core = { workspace = true }
rspack_error = { workspace = true }
rspack_hash = { workspace = true }
rspack_hook = { workspace = true }
rspack_javascript_compiler = { workspace = true }
rspack_plugin_javascript = { workspace = true }
rspack_regex = { workspace = true }
rspack_util = { workspace = true }
serde_json = { workspace = true }
swc_config = { workspace = true }
swc_core = { workspace = true, features = [
  "__parser",
  "__utils",
  "common_sourcemap",
  "ecma_preset_env",
  "ecma_transforms_optimization",
  "ecma_transforms_module",
  "ecma_transforms_compat",
  "ecma_transforms_typescript",
  "ecma_quote",
] }
swc_ecma_minifier = { workspace = true, features = ["concurrent"] }
thread_local = { workspace = true }
tracing = { workspace = true }

[lints]
workspace = true
