.module-urls {
  a: url("~#internal");
  b: url(~#internal);
  c: url("~\23 internal");
  d: url("~%23internal");
  e: url("~./icon.svg");
}

.fragments {
  a: url("#internal");
  b: url("\23 internal");
}
