/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../../node_modules/.pnpm/css-loader@6.11.0_@rspack+core@packages+rspack_webpack@5.94.0_@swc+core@1.10.1_@swc+helpers@0_aku7xtrc3x5l3vpfenkieaz5om/node_modules/css-loader/dist/cjs.js!./style.css ***!
  \**********************************************************************************************************************************************************************************************************************/
body {
  background: red;
}

/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../../node_modules/.pnpm/css-loader@6.11.0_@rspack+core@packages+rspack_webpack@5.94.0_@swc+core@1.10.1_@swc+helpers@0_aku7xtrc3x5l3vpfenkieaz5om/node_modules/css-loader/dist/cjs.js!./other.css ***!
  \**********************************************************************************************************************************************************************************************************************/
body {
  background: blue;
}

/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../../node_modules/.pnpm/css-loader@6.11.0_@rspack+core@packages+rspack_webpack@5.94.0_@swc+core@1.10.1_@swc+helpers@0_aku7xtrc3x5l3vpfenkieaz5om/node_modules/css-loader/dist/cjs.js!./extra.css ***!
  \**********************************************************************************************************************************************************************************************************************/
body {
  background: yellow;
}

