/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../../node_modules/.pnpm/css-loader@7.1.2_@rspack+core@packages+rspack_webpack@5.95.0_@swc+core@1.10.1_@swc+help_fe121c467c7d270c6862f4f6d155b2e1/node_modules/css-loader/dist/cjs.js!./style.css ***!
  \**********************************************************************************************************************************************************************************************************************/
body {
  background: red;
}

/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../../node_modules/.pnpm/css-loader@7.1.2_@rspack+core@packages+rspack_webpack@5.95.0_@swc+core@1.10.1_@swc+help_fe121c467c7d270c6862f4f6d155b2e1/node_modules/css-loader/dist/cjs.js!./other.css ***!
  \**********************************************************************************************************************************************************************************************************************/
body {
  background: blue;
}

/*!**********************************************************************************************************************************************************************************************************************!*\
  !*** css ../../../../../node_modules/.pnpm/css-loader@7.1.2_@rspack+core@packages+rspack_webpack@5.95.0_@swc+core@1.10.1_@swc+help_fe121c467c7d270c6862f4f6d155b2e1/node_modules/css-loader/dist/cjs.js!./extra.css ***!
  \**********************************************************************************************************************************************************************************************************************/
body {
  background: yellow;
}

