.ant-collapse-header {
  padding: 6px 10px !important;
}

.collapse-code-panel {
  .ant-collapse-content-box {
    padding: 0 !important;
  }

  .ant-collapse-content-box > div {
    margin: 0 !important;
    border-radius: 0 !important;
  }
}

.dark {
  .ant-collapse-header {
    color: #fff !important;
  }
}
