.wrapper {
  columns: 3;
}

@media (max-width: 1600px) {
  .wrapper {
    columns: 2;
  }
}

@media (max-width: 512px) {
  .wrapper {
    columns: 1;
  }
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  break-inside: avoid-column;
  margin-bottom: 28px;
  background-color: var(--rp-c-bg-soft);
  border-radius: 12px;
  padding: 32px;
  height: 270px;
  line-height: 1.8;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 999px;
  transition: all 0.2s ease-in-out;
  background-color: #f8f8f8;
}

.name {
  margin: 12px 0 12px;
  font-size: 17px;
  font-weight: 600;
  color: var(--rp-c-text-1);
}

.desc {
  font-size: 14px;
  color: var(--rp-c-text-2);
  margin: 0 0 18px;
  text-align: center;
  height: 50px;
  line-height: 22px;
}

.icons {
  display: flex;
}

.icon {
  width: 22px;
  height: 22px;
  transition: 0.3s all;

  svg {
    width: 22px;
    height: 22px;
    fill: var(--rp-c-text-2);
  }

  &:hover {
    transform: scale(1.15);

    svg {
      fill: var(--rp-c-text-1);
    }
  }

  &:not(:last-child) {
    margin-right: 12px;
  }
}
