.foo {
  background-color: red;
}

.one :local(.bar) {
  background-color: green;
}

.two :global(.baz) {
  background-color: blue;
}

.three :local .bav {
  background-color: yellow;
}

.four :global .bax {
  background-color: black;
}
