[package]
edition    = "2021"
license    = "MIT"
name       = "rspack_core"
repository = "https://github.com/web-infra-dev/rspack"
version    = "0.1.0"

[dependencies]
anymap = "1.0.0-beta.2"
async-recursion = { workspace = true }
async-trait = { workspace = true }
bitflags = { workspace = true }
dashmap = { workspace = true }
derivative = { workspace = true }
dyn-clone = "1.0.17"
either = "1"
futures = { workspace = true }
glob-match = "0.2.1"
hashlink = { workspace = true }
hex = "0.4.3"
indexmap = { workspace = true }
indoc = { workspace = true }
itertools = { workspace = true }
json = { workspace = true }
mime_guess = { workspace = true }
num-bigint = "0.4.4"
once_cell = { workspace = true }
oxc_resolver = { version = "1.6.7", features = ["package_json_raw_json_api"] }
paste = { workspace = true }
petgraph = { version = "0.6.4", features = ["serde-1"] }
rayon = { workspace = true }
regex = { workspace = true }
rkyv = { workspace = true, features = ["indexmap", "validation"] }
rspack_ast = { path = "../rspack_ast" }
rspack_database = { path = "../rspack_database", features = ["rayon"] }
rspack_error = { path = "../rspack_error" }
rspack_fs = { path = "../rspack_fs", features = ["async", "rspack-error"] }
rspack_futures = { path = "../rspack_futures" }
rspack_hash = { path = "../rspack_hash" }
rspack_hook = { path = "../rspack_hook" }
rspack_identifier = { path = "../rspack_identifier" }
rspack_loader_runner = { path = "../rspack_loader_runner" }
rspack_macros = { path = "../rspack_macros" }
rspack_regex = { path = "../rspack_regex" }
rspack_sources = { workspace = true }
rspack_swc_visitors = { path = "../rspack_swc_visitors" }
rspack_util = { path = "../rspack_util" }
rustc-hash = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sugar_path = { workspace = true }
swc_core = { workspace = true, features = [
  "__ecma",
  "__visit",
  "__utils",
  "__ecma_transforms",
  "ecma_ast",
  "ecma_codegen",
  "ecma_quote",
  "common_concurrent",
  "common_tty",
  "swc_ecma_ast",
  "ecma_transforms_react",
  "ecma_transforms_module",
  "swc_ecma_codegen",
  "swc_ecma_visit",
  "ecma_visit_path",
  "css_ast",
  "css_codegen",
  "css_parser",
  "css_utils",
  "css_visit",
  "css_visit_path",
  "css_compat",
  "css_modules",
] }
swc_node_comments = { workspace = true }
tokio = { workspace = true, features = ["rt", "rt-multi-thread", "macros", "test-util", "parking_lot"] }
tracing = { workspace = true }
url = { workspace = true }
ustr = { workspace = true }

[dev-dependencies]
pretty_assertions = { version = "1.4.0" }
