[package]
edition = "2021"
name    = "rspack_core"
version = "0.1.0"

[dependencies]
anyhow = "1"
async-trait = "0.1.53"
bitflags = "1.3.2"
crossbeam = "0.8.1"
dashmap = "5.0.0"
fluent-uri = "0.1.3"
futures = "0.3.21"
hashbrown = { version = "0.12.1", features = ["rayon", "serde", "ahash"] }
hashlink = "0.8.1"
indexmap = "1.9.1"
nodejs-resolver = "0.0.46"
once_cell = "1"
petgraph = "0.6.0"
rayon = "1.5.3"
regex = "1.6.0"
rspack_error = { path = "../rspack_error" }
rspack_loader_runner = { path = "../loader_runner" }
rspack_sources = "0.1.9"
rspack_tracing = { path = "../rspack_tracing" }
serde = "1"
sugar_path = "0.0.8"
swc = "0.232.56"
swc_atoms = "0.4.23"
swc_common = { version = "0.29.10", features = ["concurrent", "tty-emitter"] }
swc_css = "0.137.7"
swc_ecma_ast = "0.94.14"
swc_ecma_codegen = "0.127.24"
swc_ecma_transforms = { version = "0.198.27", features = [
  "swc_ecma_transforms_module",
  "swc_ecma_transforms_react",
] }
swc_ecma_visit = "0.80.14"
tokio = { version = "1.21.0", features = [
  "rt",
  "rt-multi-thread",
  "macros",
  "test-util",
  "parking_lot",
] }
tracing = "0.1.34"
url = "2.2.2"
ustr = "0.9.0"
xxhash-rust = { version = "0.8.5", features = ["xxh3"] }

[dev-dependencies]
swc_ecma_parser = "0.122.20"
