[package]
description       = "rspack javascript plugin"
edition.workspace = true
license           = "MIT"
name              = "rspack_plugin_javascript"
repository        = "https://github.com/web-infra-dev/rspack"
version.workspace = true

[dependencies]
anymap = { workspace = true }
async-trait = { workspace = true }
bitflags = { workspace = true }
cow-utils = { workspace = true }
either = { workspace = true }
fast-glob = { workspace = true }
indexmap = { workspace = true }
itertools = { workspace = true }
num-bigint = { workspace = true }
once_cell = { workspace = true }
rayon = { workspace = true }
regex = { workspace = true }
regress = { workspace = true, features = ["pattern"] }
rspack_cacheable = { workspace = true }
rspack_collections = { workspace = true }
rspack_core = { workspace = true }
rspack_error = { workspace = true }
rspack_futures = { workspace = true }
rspack_hash = { workspace = true }
rspack_hook = { workspace = true }
rspack_ids = { workspace = true }
rspack_javascript_compiler = { workspace = true }
rspack_paths = { workspace = true }
rspack_regex = { workspace = true }
rspack_util = { workspace = true }
rustc-hash = { workspace = true }
serde_json = { workspace = true }
sugar_path = { workspace = true }
swc_core = { workspace = true, features = [
  "__parser",
  "__utils",
  "common_sourcemap",
  "ecma_parser_unstable",
  "ecma_preset_env",
  "ecma_transforms_optimization",
  "ecma_transforms_module",
  "ecma_transforms_compat",
  "ecma_transforms_typescript",
  "base",
  "base_module",
  "ecma_quote",
] }
swc_experimental_ecma_ast = { workspace = true }
swc_experimental_ecma_parser = { workspace = true }
swc_experimental_ecma_semantic = { workspace = true }
swc_node_comments = { workspace = true }
tokio = { workspace = true, features = ["sync"] }
tracing = { workspace = true }
url = { workspace = true }
winnow = { workspace = true }

[package.metadata.cargo-shear]
ignored = ["tracing"]

[lints]
workspace = true
