[package]
edition    = "2021"
license    = "MIT"
name       = "rspack_plugin_javascript"
repository = "https://github.com/web-infra-dev/rspack"
version    = "0.1.0"

[dependencies]
async-trait = { workspace = true }
bitflags = { workspace = true }
dashmap = { workspace = true }
indexmap = { workspace = true }
itertools = { workspace = true }
linked_hash_set = { workspace = true }
num-bigint = { version = "0.4.4" }
once_cell = { workspace = true }
rayon = { workspace = true }
regex = { workspace = true }
ropey = "1.6.1"
rspack_ast = { path = "../rspack_ast" }
rspack_core = { path = "../rspack_core" }
rspack_error = { path = "../rspack_error" }
rspack_hash = { path = "../rspack_hash" }
rspack_hook = { path = "../rspack_hook" }
rspack_identifier = { path = "../rspack_identifier" }
rspack_ids = { path = "../rspack_ids/" }
rspack_regex = { path = "../rspack_regex" }
rspack_swc_visitors = { path = "../rspack_swc_visitors" }
rspack_util = { path = "../rspack_util" }
rustc-hash = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
sugar_path = { workspace = true }
swc_core = { workspace = true, features = [
  "__parser",
  "__utils",
  "common_sourcemap",
  "ecma_preset_env",
  "ecma_transforms_optimization",
  "ecma_transforms_module",
  "ecma_transforms_compat",
  "ecma_transforms_proposal",
  "ecma_transforms_typescript",
  "ecma_quote",
] }
swc_node_comments = { workspace = true }
url = { workspace = true }
