[package]
edition    = "2021"
license    = "MIT"
name       = "rspack_plugin_javascript"
repository = "https://github.com/web-infra-dev/rspack"
version    = "0.1.0"

[dev-dependencies]
rspack_testing = { path = "../rspack_testing" }

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
base64 = "0.13"
better_scoped_tls = { workspace = true }
bitflags = { workspace = true }
dashmap = { workspace = true }
either = "1"
linked_hash_set = { workspace = true }
once_cell = { workspace = true }
paste = { workspace = true }
preset_env_base = { workspace = true }
rayon = { workspace = true }
regex = { workspace = true }
rspack_core = { path = "../rspack_core" }
rspack_error = { path = "../rspack_error" }
rspack_identifier = { path = "../rspack_identifier" }
rspack_regex = { path = "../rspack_regex" }
rspack_symbol = { path = "../rspack_symbol" }
rustc-hash = { workspace = true }
serde = { workspace = true, features = ["derive"] }
sourcemap = "6.2.0"
sugar_path = { workspace = true }
swc_core = { workspace = true, features = [
  "__parser",
  "__utils",
  "ecma_preset_env",
  "ecma_transforms_optimization",
  "ecma_transforms_module",
  "ecma_transforms_compat",
  "ecma_transforms_proposal",
  "ecma_transforms_typescript",
  "ecma_minifier",
  "ecma_minifier_concurrent",
  "ecma_quote",
] }
swc_emotion = { workspace = true }
swc_plugin_import = { workspace = true }
tokio = { workspace = true, features = ["rt"] }
tracing = { workspace = true }
url = "2.3.1"
xxhash-rust = { workspace = true, features = ["xxh3"] }
