[package]
edition = "2021"
name = "rspack_plugin_javascript"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dev_dependencies]
rspack_test = {path = "../rspack_test"}

[dependencies]
anyhow = "1" 
async-trait = "0.1.53" 
hashbrown = {version = "0.12.1", features = ["rayon"]} 
linked_hash_set = "0.1.4" 
once_cell = "1" 
rspack_core = {path = "../rspack_core"} 
rspack_loader_react_hmr = {path = "../rspack_loader_react_hmr"} 
serde = {version = "1", features = ["derive"]} 
serde_json = "1" 
swc = "0.213.2" # Speedy web compiler
swc_atoms = "0.4.1" 
swc_common = "0.27.2" 
swc_ecma_ast = "0.90.3" 
swc_ecma_parser = "0.117.0" 
swc_ecma_transforms = {version = "0.182.1"} 
swc_ecma_utils = "0.99.0" 
swc_ecma_visit = "0.76.1" 
tracing = "0.1.34" 
# typemap = "0.3.3"
better_scoped_tls = "0.1.0"
rayon = "1.5.3"
sugar_path = "0.0.5"
# rspack_sources = "0.0.3"
rspack_error = {path = "../rspack_error"}
# rspack_swc = { path = "../rspack_swc"}
# swc_atoms = "0.2.11"
# swc_ecma_ast = "0.78.0"
# swc_ecma_codegen = "0.108.1"
# swc_ecma_parser = "0.104.0"
# swc_ecma_visit = "0.64.0"
# swc_common = "0.18.3"
# swc_ecma_transforms_base =   "0.85.0"
# swc_ecma_transforms_module = "0.112.1"
# swc_ecma_utils = "0.85.0"
# swc_ecma_transforms_react = "0.114.0"
# swc_ecma_transforms_optimization = "0.123.1"
