[package]
edition    = "2021"
license    = "MIT"
name       = "rspack_plugin_javascript"
repository = "https://github.com/modern-js-dev/rspack"
version    = "0.1.0"

[dev-dependencies]
rspack_test = { path = "../rspack_test" }

[dependencies]
anyhow = "1"
async-trait = "0.1.53"
base64 = "0.13"
better_scoped_tls = "0.1.0"
dashmap = "5.4.0"
either = "1"
linked_hash_set = "0.1.4"
once_cell = "1"
paste = "1.0"
preset_env_base = { workspace = true }
rayon = "1.5.3"
regex = "1.6.0"
rspack_core = { path = "../rspack_core" }
rspack_error = { path = "../rspack_error" }
rspack_identifier = { path = "../rspack_identifier" }
rspack_plugin_devtool = { path = "../rspack_plugin_devtool" }
rspack_symbol = { path = "../rspack_symbol" }
rustc-hash = { workspace = true }
serde = { version = "1", features = ["derive"] }
sourcemap = "6.2.0"
sugar_path = "0.0.9"
swc_core = { workspace = true, features = [
  "__parser",
  "__utils",
  "ecma_preset_env",
  "ecma_transforms_optimization",
  "ecma_transforms_module",
  "ecma_transforms_compat",
  "ecma_transforms_proposal",
  "ecma_transforms_typescript",
  "ecma_minifier",
  "ecma_minifier_concurrent",
  "ecma_quote",
] }
swc_emotion = "0.29.4"
# swc = { workspace = true }
# swc_atoms = { workspace = true }
# swc_common = { workspace = true, features = ["concurrent"] }
# swc_ecma_ast = { workspace = true }
# swc_ecma_lints = { workspace = true }
# swc_ecma_minifier = { workspace = true }
# swc_ecma_parser = { workspace = true }
# swc_ecma_preset_env = { workspace = true }
# swc_ecma_transforms = { workspace = true, features = [
#   "swc_ecma_transforms_module",
#   "swc_ecma_transforms_react",
# ] }
# swc_ecma_utils = { workspace = true }
# swc_ecma_visit = { workspace = true }
tracing     = "0.1.34"
xxhash-rust = { version = "0.8.5", features = ["xxh3"] }
