[package]
edition = "2021"
name    = "rspack_plugin_javascript"
version = "0.1.0"

[dev-dependencies]
rspack_test = { path = "../rspack_test" }

[dependencies]
anyhow = "1"
async-trait = "0.1.53"
base64 = "0.13"
better_scoped_tls = "0.1.0"
dashmap = "5.4.0"
either = "1"
hashbrown = { version = "0.12.1", features = ["rayon"] }
linked_hash_set = "0.1.4"
once_cell = "1"
pathdiff = "0.2"
preset_env_base = "0.3.1"
rayon = "1.5.3"
regex = "1.6.0"
rspack_core = { path = "../rspack_core" }
rspack_error = { path = "../rspack_error" }
rspack_symbol = { path = "../rspack_symbol" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sourcemap = "6.2.0"
sugar_path = "0.0.8"
swc = "0.232.112"
swc_atoms = "0.4.23"
swc_common = { version = "0.29.10", features = ["concurrent"] }
swc_ecma_ast = "0.94.14"
swc_ecma_lints = "0.66.33"
swc_ecma_minifier = "0.159.63"
swc_ecma_parser = "0.122.30"
swc_ecma_preset_env = "0.174.27"
swc_ecma_transforms = { version = "0.198.27", features = [
  "swc_ecma_transforms_module",
  "swc_ecma_transforms_react",
] }
swc_ecma_utils = "0.105.25"
swc_ecma_visit = "0.80.14"
tracing = "0.1.34"
ustr = "0.9.0"
