[package]
name = "rspack_plugin_javascript"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rspack_core = { path = "../rspack_core"}
swc = "0.186.0"                        # Speedy web compiler
swc_ecma_ast = "0.79.0"                # Ecmascript ast.
swc_ecma_visit = "0.65.0"          # Visitors for swc ecmascript nodes which works on stable rustc
swc_common = "0.18.8"          # Common utilities for the swc project.
swc_ecma_parser = "0.105.0"         # Feature-complete es2019 parser.
swc_atoms = "0.2.11"    # Atoms for the swc project.
swc_ecma_transforms = "0.158.0"                 # rust port of babel and closure compiler.
swc_ecma_utils = "0.86.1"     # Utilities for swc ecmascript ast nodes
tracing = "0.1.34"
once_cell = "1"
linked_hash_set = "0.1.4"
anyhow = "1"
typemap = "0.3.3"
better_scoped_tls = "0.1.0"
rayon = "1.5.3"

# rspack_swc = { path = "../rspack_swc"}
# swc_atoms = "0.2.11"
# swc_ecma_ast = "0.78.0"
# swc_ecma_codegen = "0.108.1"
# swc_ecma_parser = "0.104.0"
# swc_ecma_visit = "0.64.0"
# swc_common = "0.18.3"
# swc_ecma_transforms_base =   "0.85.0"
# swc_ecma_transforms_module = "0.112.1"
# swc_ecma_utils = "0.85.0"
# swc_ecma_transforms_react = "0.114.0"
# swc_ecma_transforms_optimization = "0.123.1"