[package]
edition    = "2021"
license    = "MIT"
name       = "rspack_plugin_javascript"
repository = "https://github.com/web-infra-dev/rspack"
version    = "0.1.0"

[dev-dependencies]
rspack_testing = { path = "../rspack_testing" }

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
bitflags = { workspace = true }
either = "1"
linked_hash_set = { workspace = true }
once_cell = { workspace = true }
paste = { workspace = true }
preset_env_base = { workspace = true }
rayon = { workspace = true }
regex = { workspace = true }
rspack_core = { path = "../rspack_core" }
rspack_error = { path = "../rspack_error" }
rspack_identifier = { path = "../rspack_identifier" }
rspack_regex = { path = "../rspack_regex" }
rspack_symbol = { path = "../rspack_symbol" }
rustc-hash = { workspace = true }
sourcemap = "6.2.3"
sugar_path = { workspace = true }
swc_config = { workspace = true }
swc_core = { workspace = true, features = [
  "__base",
  "__parser",
  "__utils",
  "common_sourcemap",
  "ecma_preset_env",
  "ecma_transforms_optimization",
  "ecma_transforms_module",
  "ecma_transforms_compat",
  "ecma_transforms_proposal",
  "ecma_transforms_typescript",
  "ecma_quote",
] }
swc_ecma_minifier = { workspace = true, features = ["concurrent"] }
swc_emotion = { workspace = true }
swc_node_comments = { workspace = true }
swc_plugin_import = { workspace = true }
tokio = { workspace = true, features = ["rt"] }
url = "2.3.1"
xxhash-rust = { workspace = true, features = ["xxh3", "xxh32"] }
