.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  height: 18px;
  max-width: 800px;
  border-radius: 10px;
  box-sizing: content-box;
  align-self: stretch;
}

@media screen and (max-width: 1060px) {
  .container {
    width: 85vw;
  }
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 8px;
  background: var(--rp-c-gray-light-5);
  border-radius: 5px;
}

:global(.dark) {
  .innerContainer {
    background: var(--rp-c-bg-soft);
  }
}

.bar {
  height: 100%;
  border-radius: 5px;
  background: var(
    --orange-gradient,
    linear-gradient(279deg, #ff8b00 35.21%, #f93920 63.34%)
  );
}

.desc {
  min-width: 84px;
  color: var(--rp-c-text-2);
  font-size: 12px;
  margin-left: 16px;
  width: 100px;
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

.time {
  display: inline-block;
  width: 38px;
  text-align: left;
}
