<!DOCTYPE html>
<html class="dark">
	<head>
		<meta charset="utf-8" />
		<% if (inlineCss) { %>
		<style>
			<%= inlineCss %>
		</style>
		<% } %>
	</head>
	<body>
		<div id="__plugin"></div>
	</body>
</html>
