name: Benchmark

# on:
#   issue_comment:
#     types: [ created ]

on:
  # push:
  #   branches:
  #     - main
  #     - next
  #   tags-ignore:
  #     - '**'
  # pull_request:
  issue_comment:
    types: [ created ]
jobs:
  benchmarks:
    name: Benchmarks
    # if: github.event.issue.pull_request && contains(github.event.comment.body, '!bench')
    runs-on: [self-hosted, rspack-bench]
    timeout-minutes: 30
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      # - name: Cache
      #   uses: speedy-js/rust-cache-self-hosted@v1
      - name: PR Benchmarks
        uses: speedy-js/rspack-benchmark-action@main
        env:
          PR_STATS_COMMENT_TOKEN: ${{ secrets.PR_STATS_COMMENT_TOKEN }}
      - name: Clean working directory
        shell: bash
        run: |
          cd $RUNNER_WORKSPACE
          cd ..
          rm -r *
