name: Cancel
on:
  pull_request_target:
    types:
      - edited
      - synchronize

jobs:
  cancel:
    name: "Cancel Previous Runs"
    runs-on: [self-hosted, rspack-common]
    timeout-minutes: 2
    steps:
      - uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
