name: check-js

on:
  push:
    branches:
      - main
    tags-ignore:
      - "**"
  pull_request:

jobs:
  test-js:
    name: Node binding test
    runs-on: [self-hosted, rspack-common]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        # - name: Install protoc
        #   uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install dependencies && and build lib
        run: |
          node -e "console.log(process.arch)"  
          npm install -g pnpm@7.25.0
          pnpm -v
          pnpm install
          pnpm run format-ci:toml
          pnpm run lint:js
          pnpm run build:cli:release
          pnpm --filter @rspack/plugin-html run build
          pnpm --filter @rspack/fs run build:test
      - name: binding test
        run: |
          pnpm --filter @rspack/core run test
          pnpm --filter @rspack/fs run test
          pnpm --filter @rspack/dev-server run test
          pnpm --filter @rspack/plugin-html run test
  # bundle-stats:
  #   name: Bundle stats compare
  #   runs-on: [self-hosted, rspack-common, ARM64]
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v3
  #     - uses: actions/setup-node@v3
  #       with:
  #         node-version: "16"
  #         architecture: "arm64"
  #     - name: Install dependencies && and build lib
  #       run: |
  #         node -e "console.log(process.arch)"
  #         pnpm install
  #         pnpm run build:cli-release
  #     - name: Create rspack stats
  #       run: pnpm --filter example-arco-design-pro bundle-stats
  #     - name: Send rspack stats to RelativeCI
  #       uses: relative-ci/agent-action@v2
  #       with:
  #         webpackStatsFile: ./examples/arco-pro/rspack-stats.json
  #         key: ${{ secrets.RELATIVE_CI_KEY }}
  #         token: ${{ secrets.GITHUB_TOKEN }}
