name: check-rs

on:
  push:
    branches:
      - main
    tags-ignore:
      - "**"
  pull_request:
    paths: # Only run when changes are made to rust code or root Cargo
      - "crates/**"
      - "examples/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "rust-toolchain.toml"
      - "rustfmt.toml"
      - "clippy.toml"

# cancel previous job runs for the same workflow + pr
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
  cancel-in-progress: true

jobs:
  lint-format-test:
    name: lint, format, spell check, test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install toolchain
        run: rustup show

      - name: Pnpm Cache
        uses: ./.github/actions/pnpm-cache

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: check
          save-if: ${{ github.ref_name == 'main' }}

      - name: Run rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run Cargo Check
        run: cargo check --workspace --all-targets --release --locked

      - name: Run Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-targets -- -D warnings

      - name: Run test
        run: cargo test --workspace -- --nocapture
