name: check-rs

on:
  push:
    branches:
      - main
    tags-ignore:
      - "**"
  pull_request:
    paths: # Only run when changes are made to rust code or root Cargo
      - "crates/**"
      - "examples/**"
      - "Cargo.toml"
      - "Cargo.lock"
      - "rust-toolchain.toml"
      - "rustfmt.toml"
      - "clippy.toml"

# cancel previous job runs for the same workflow + pr
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint-and-format:
    name: lint, format and spell check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR Branch
        uses: actions/checkout@v3
        with:
          submodules: false
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Support longpaths
        run: git config core.longpaths true
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: check
      - name: Run rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --verbose -- --check
      - name: Install protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: check
      - name: Run cargo check
        run: cargo check --workspace --all-targets --release --locked

      - name: Run clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-targets -- -D warnings
      # - name: Check Dependencies
      # run: |
      # node ./scripts/check_rust_dependency.js
      - name: Spell Check
        uses: crate-ci/typos@master
        with:
          files: .

  test-rs:
    name: Rust test
    strategy:
      fail-fast: true
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install toolchain
        run: rustup show
      - name: Cache
        uses: Swatinem/rust-cache@v2
        with:
          shared-key: check
      - name: Run test
        # We need to install sass first to enable sass-loader
        run: |
          node -e "console.log(process.arch)"
          npm install -g pnpm@7.25.0
          pnpm install
          cargo test --all -- --nocapture --test-threads=1
