name: CI

on:
  merge_group:
    types: [checks_requested]
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - main
      - v1.x
    paths-ignore:
      - '**/*.md'
      - 'website/**'
    tags-ignore:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: ${{ github.ref_name != 'main' && github.ref_name != 'v1.x' }}

permissions:
  # Allow commenting on issues for `reusable-build.yml`
  issues: write
  # Allow commenting on pull requests for `size-limit.yml`
  pull-requests: write

jobs:
  check-changed:
    runs-on: ubuntu-latest
    name: Check Source Changed
    outputs:
      code_changed: ${{ steps.filter.outputs.code_changed == 'true' }}
      document_changed: ${{ steps.filter.outputs.document_changed == 'true' }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          predicate-quantifier: 'every'
          filters: |
            code_changed:
              - "!**/*.md"
              - "!**/*.mdx"
              - "!website/**"
            document_changed:
              - "website/**"

  test-linux:
    name: Test Linux
    needs: [check-changed]
    if: ${{ needs.check-changed.outputs.code_changed == 'true' }}
    uses: ./.github/workflows/reusable-build.yml
    with:
      target: x86_64-unknown-linux-gnu
      runner: ${{ vars.LINUX_SELF_HOSTED_RUNNER_LABELS || '"ubuntu-22.04"' }}
      test: true
      bench: false
      prefer_docker: false

  # TODO: enable it after self hosted runners are ready
  # pkg-preview:
  #   name: Pkg Preview
  #   needs:
  #     - test-linux
  #     - test-windows
  #     - cargo-deny
  #     - lint
  #     - rust_check
  #     - rust_test
  #   # after merged to main branch
  #   if: ${{ !failure() && github.event_name == 'push' }}
  #   uses: ./.github/workflows/preview-commit.yml
