name: ecosystem-ci trigger

on:
  issue_comment:
    types: [created]

jobs:
  trigger:
    runs-on: ubuntu-latest
    if: github.repository == 'web-infra-dev/rspack' && github.event.issue.pull_request && startsWith(github.event.comment.body, '!eco-ci')
    steps:
      - uses: actions/github-script@v6
        with:
          script: |
            const user = context.payload.sender.login
            console.log(`Validate user: ${user}`)

            let hasTriagePermission = false
            try {
              const { data } = await github.rest.repos.getCollaboratorPermissionLevel({
                owner: context.repo.owner,
                repo: context.repo.repo,
                username: user,
              });
              hasTriagePermission = data.user.permissions.triage
            } catch (e) {
              console.warn(e)
            }

            if (hasTriagePermission) {
              console.log('Allowed')
              await github.rest.reactions.createForIssueComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                comment_id: context.payload.comment.id,
                content: '+1',
              })
            } else {
              console.log('Not allowed')
              await github.rest.reactions.createForIssueComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                comment_id: context.payload.comment.id,
                content: '-1',
              })
              throw new Error('not allowed')
            }
      - uses: actions/github-script@v6
        id: get-pr-data
        with:
          script: |
            console.log(`Get PR info: ${context.repo.owner}/${context.repo.repo}#${context.issue.number}`)
            const { data: pr } = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number
            })
            return {
              num: context.issue.number,
              branchName: pr.head.ref,
              repo: pr.head.repo.full_name
            }
      - uses: actions/github-script@v6
        id: trigger
        env:
          COMMENT: ${{ github.event.comment.body }}
        with:
          github-token: ${{ secrets.ECOSYSTEM_CI_ACCESS_TOKEN }}
          result-encoding: string
          script: |
            const comment = process.env.COMMENT.trim()
            const command = comment.split('\n')[0]
            const prData = ${{ steps.get-pr-data.outputs.result }}

            const {
              MODERN_REF: modernRef,
              RSPRESS_REF: rspressRef,
              RSBUILD_REF: rsbuildRef
            } = parseEnv(command.split(/\s/))

            const suite = command.replace(/^.*?!eco-ci/, '').trim()

            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: 'rspack-ecosystem-ci',
              workflow_id: 'ecosystem-ci-from-pr.yml',
              ref: 'main',
              inputs: {
                prNumber: '' + prData.num,
                branchName: prData.branchName,
                repo: prData.repo,
                suite: suite === '' ? '-' : suite,
                modernRef,
                rspressRef,
                rsbuildRef
              }
            })

            function parseEnv(args) {
              const envSetterRegex = /(\w+)=('(.*)'|"(.*)"|(.*))/
              const envSetters = {}
              for (let i = 0; i < args.length; i++) {
                const match = envSetterRegex.exec(args[i])
                if (match) {
                  let value

                  if (typeof match[3] !== 'undefined') {
                    value = match[3]
                  } else if (typeof match[4] === 'undefined') {
                    value = match[5]
                  } else {
                    value = match[4]
                  }

                  envSetters[match[1]] = value
                }
              }
              return envSetters   
            }
