name: Issue Close Require

on:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  issue-close-require:
    permissions:
      issues: write
    runs-on: ubuntu-latest
    if: github.repository_owner == 'web-infra-dev'
    steps:
      - name: need reproduce
        uses: actions-cool/issues-helper@a610082f8ac0cf03e357eb8dd0d5e2ba075e017e # v3
        with:
          actions: "close-issues"
          labels: "need reproduction"
          inactive-day: 14
          body: |
            Since the issue was labeled with `need reproduction`, but no response in 14 days. This issue will be closed. Feel free to comment and reopen it if you have any further questions.
