name: Lint

on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: [rspack]
    steps:
      - uses: actions/checkout@v2

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          override: true
          components: rustfmt, clippy
      - name: npm init
        run: npm run init
      - name: Cargo fmt
        run: |
          cargo fmt -- --check
          yarn format:js_ci

      # temporarily remove clippy for DX
      # - name: Clippy
      # run: cargo clippy
