# https://github.com/stackblitz-labs/pkg.pr.new
name: Preview Commit

on:
  workflow_call:

permissions:
  # Allow commenting on issues for `reusable-build.yml`
  issues: write

jobs:
  get-runner-labels:
    name: Get Runner Labels
    uses: ./.github/workflows/get-runner-labels.yml
    with:
      force-use-github-runner: false

  check-changed:
    runs-on: ubuntu-latest
    name: Check Changed
    outputs:
      changed: ${{ steps.filter.outputs.changed == 'true' }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3
        id: filter
        with:
          filters: |
            changed:
              - "crates/**"
              - "packages/rspack/**"
              - "packages/rspack-cli/**"

  build:
    needs: [get-runner-labels, check-changed]
    if: needs.check-changed.outputs.changed == 'true'
    strategy:
      fail-fast: false # Build and test everything so we can look at all the errors
      matrix:
        array:
          - target: x86_64-unknown-linux-gnu
            runner: ${{ needs.get-runner-labels.outputs.LINUX_RUNNER_LABELS }}
          - target: aarch64-unknown-linux-gnu
            runner: "'ubuntu-latest'"
          - target: x86_64-unknown-linux-musl
            runner: ${{ needs.get-runner-labels.outputs.LINUX_RUNNER_LABELS }}
          - target: aarch64-unknown-linux-musl
            runner: ${{ needs.get-runner-labels.outputs.LINUX_RUNNER_LABELS }}
          - target: i686-pc-windows-msvc
            runner: ${{ needs.get-runner-labels.outputs.WINDOWS_RUNNER_LABELS }}
          - target: x86_64-pc-windows-msvc
            runner: ${{ needs.get-runner-labels.outputs.WINDOWS_RUNNER_LABELS }}
          - target: aarch64-pc-windows-msvc
            runner: ${{ needs.get-runner-labels.outputs.WINDOWS_RUNNER_LABELS }}
          - target: x86_64-apple-darwin
            runner: ${{ needs.get-runner-labels.outputs.MACOS_RUNNER_LABELS }}
          - target: aarch64-apple-darwin
            runner: ${{ needs.get-runner-labels.outputs.MACOS_RUNNER_LABELS }}
    uses: ./.github/workflows/reusable-build.yml
    with:
      target: ${{ matrix.array.target }}
      runner: ${{ matrix.array.runner }}
      profile: "release"
      test: false

  publish:
    if: github.repository == 'web-infra-dev/rspack'
    name: Pkg Preview
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Pnpm Setup
        uses: ./.github/actions/pnpm/setup

      - name: Pnpm Install
        uses: ./.github/actions/pnpm/install-dependencies

      - name: Download artifacts
        uses: actions/download-artifact@v4.1.7
        with:
          path: artifacts

      - name: Build node packages
        run: pnpm run build:js

      - name: Move artifacts
        run: node scripts/build-npm.cjs

      - name: Show binding packages
        run: ls -R npm

      - name: Release
        run: npx pkg-pr-new publish --compact --pnpm './npm/*' './crates/node_binding' './packages/rspack' './packages/rspack-cli'
