name: Release

on:
  workflow_dispatch:
    inputs:
      tag:
        type: choice
        description: "Release Version(canary, alpha, pre, latest)"
        required: true
        default: "canary"
        options:
          - canary
          - alpha
          - pre
          - latest

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        with:
          # This makes Actions fetch only one branch to release
          fetch-depth: 1
      - name: Install rus toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2022-08-06
          profile: default
          components: rustfmt, clippy, cargo
      - name: Install protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: install node_modules
        run: |
          npm install -g pnpm
          pnpm install
      - name: release pull request
        id: changesets
        uses: changesets/action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: publish
        if: steps.changesets.outputs.hasChangesets == 'false'
        run: |
          pnpm run build:cli
          pnpm run release --tag ${{github.event.inputs.tag}}
