name: release snapshot
on:
  issue_comment:
    types: [created]
jobs:
  release:
    name: release-snapshot
    if: github.event.issue.pull_request && contains(github.event.comment.body, '!snapshot')
    runs-on: [self-hosted, rspack-common, macOS]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@master
        with:
          # This makes Actions fetch only one branch to release
          fetch-depth: 100
      - name: Install rus toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2022-08-06
          profile: default
          components: rustfmt, clippy, cargo
      - uses: actions/setup-node@v3
        with:
          node-version: "16"
          architecture: "arm64"
      - name: install pnpm
        run: |
          npm install -g pnpm
          pnpm install
      - name: Creating .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
           //registry.npmjs.org/:_authToken=$NPM_TOKEN
           EOF
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: release snapshot
        run: |
          echo "::set-output name=comment::hello"
          make snapshot_ci
          comment=$(./x pkg-version)
          echo "::set-output name=comment::$comment"
