name: Release Full

on:
  workflow_dispatch:
    inputs:
      version:
        type: choice
        description: "Release Version(canary, alpha, beta, latest)"
        required: true
        default: "canary"
        options:
          - canary
          - alpha
          - beta
          - latest
jobs:
  build:
    strategy:
      fail-fast: false # Build and test everything so we can look at all the errors
      matrix:
        target:
          - x86_64-unknown-linux-gnu
          - aarch64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
          - aarch64-unknown-linux-musl
          - i686-pc-windows-msvc
          - x86_64-pc-windows-msvc
          - aarch64-pc-windows-msvc
          - x86_64-apple-darwin
          - aarch64-apple-darwin
    uses: ./.github/workflows/reusable-build.yml
    with:
      target: ${{ matrix.target }}
      tests: true

  release:
    name: Release
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          # This makes Actions fetch only one branch to release
          fetch-depth: 1

      - name: Pnpm Cache
        uses: ./.github/actions/pnpm-cache

      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          path: artifacts

      - name: Build node packages
        run: pnpm run build:js

      - name: Move artifacts
        run: node scripts/build-npm.cjs

      - name: Show binding packages
        run: ls -R npm

      - name: Link optional dependencies
        run: pnpm install --no-frozen-lockfile

      - name: Release
        uses: web-infra-dev/actions@v2
        with:
          # this expects you to have a script called release which does a build for your packages and calls changeset publish
          version: ${{ github.event.inputs.version }}
          type: "release"
          branch: ${{ github.ref_name }}
          tools: "changeset"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          REPOSITORY: ${{ github.repository }}
          REF: ${{ github.ref }}
          ONLY_RELEASE_TAG: true
