name: Reusable Release Npm

on:
  workflow_call:
    inputs:
      tag:
        type: string
        description: "Release Npm Tag"
        required: true
      tag_confirm:
        type: string
        description: "Release Npm Tag Double Check"
        required: true
      test:
        type: boolean
        description: "Run JS tests before release"
        required: true
        default: true
      dry_run:
        type: boolean
        description: "DryRun release"
        required: true
        default: false
      push_tags:
        type: boolean
        description: "push tags to github"
        required: true
        default: true

permissions:
  # To publish packages with provenance
  id-token: write
  # Allow commenting on issues for `reusable-build.yml`
  issues: write

jobs:
  get-runner-labels:
    name: Get Runner Labels
    uses: ./.github/workflows/get-runner-labels.yml
    with:
      force-use-github-runner: true

  build:
    needs: [get-runner-labels]
    strategy:
      fail-fast: false # for better utilize ci runners
      matrix:
        array:
          - target: x86_64-unknown-linux-gnu
            runner: ${{ needs.get-runner-labels.outputs.LINUX_RUNNER_LABELS }}
          - target: aarch64-unknown-linux-gnu
            runner: ${{ needs.get-runner-labels.outputs.LINUX_RUNNER_LABELS }}
          - target: x86_64-unknown-linux-musl
            runner: ${{ needs.get-runner-labels.outputs.LINUX_RUNNER_LABELS }}
          - target: aarch64-unknown-linux-musl
            runner: ${{ needs.get-runner-labels.outputs.LINUX_RUNNER_LABELS }}
          - target: i686-pc-windows-msvc
            runner: ${{ needs.get-runner-labels.outputs.WINDOWS_RUNNER_LABELS }}
          - target: x86_64-pc-windows-msvc
            runner: ${{ needs.get-runner-labels.outputs.WINDOWS_RUNNER_LABELS }}
          - target: aarch64-pc-windows-msvc
            runner: ${{ needs.get-runner-labels.outputs.WINDOWS_RUNNER_LABELS }}
          - target: x86_64-apple-darwin
            runner: ${{ needs.get-runner-labels.outputs.MACOS_RUNNER_LABELS }}
          - target: aarch64-apple-darwin
            runner: ${{ needs.get-runner-labels.outputs.MACOS_RUNNER_LABELS }}
          - target: wasm32-wasip1-threads
            runner: ${{ needs.get-runner-labels.outputs.LINUX_RUNNER_LABELS }}
    uses: ./.github/workflows/reusable-build.yml
    with:
      target: ${{ matrix.array.target }}
      runner: ${{ matrix.array.runner }}
      test: ${{ inputs.test }}
      profile: "release"

  release:
    name: Release
    environment: npm
    permissions:
      contents: write
      # To publish packages with provenance
      id-token: write
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.event_name == 'workflow_dispatch' }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          # This makes Actions fetch only one branch to release
          fetch-depth: 1

      - name: Pnpm Setup
        uses: ./.github/actions/pnpm/setup

      - name: Pnpm Install
        uses: ./.github/actions/pnpm/install-dependencies

      - name: Download artifacts
        uses: actions/download-artifact@v4.1.7
        with:
          path: artifacts

      - name: Clean artifacts
        run: find artifacts -type f -name '*.d.ts'  | xargs rm -f

      - name: Build node packages
        run: pnpm run build:js

      - name: Move artifacts
        run: node scripts/build-npm.cjs

      - name: Show binding packages
        run: ls -R npm

      # Update npm to the latest version to enable OIDC
      - name: Update npm
        run: |
          npm install -g npm@latest
          npm --version

      - name: Release Npm
        run: |
          ./x publish stable --tag ${{inputs.tag}} ${{inputs.dry_run && '--dry-run' || '--no-dry-run'}} ${{inputs.push_tags && '--push-tags' || '--no-push-tags'}}
        env:
          REPOSITORY: ${{ github.repository }}
          REF: ${{ github.ref }}
          ONLY_RELEASE_TAG: true
