name: Run Test

on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string
      runner: # Runner labels
        required: true
        type: string
      ref: # Git reference to checkout
        required: false
        type: string

jobs:
  e2e:
    name: E2E Testing
    if: inputs.target == 'x86_64-unknown-linux-gnu'
    runs-on: ${{ fromJSON(inputs.runner) }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          ref: ${{ inputs.ref }}
          clean: ${{ runner.environment == 'github-hosted' }}

      - name: Download bindings
        uses: ./.github/actions/artifact/download
        with:
          name: bindings-${{ inputs.target }}
          path: crates/node_binding/

      - name: Setup Pnpm
        timeout-minutes: 5
        uses: ./.github/actions/pnpm/setup
        with:
          node-version: 20

      - name: Pnpm Install
        uses: ./.github/actions/pnpm/install-dependencies

      - name: Calculate Node Bin Path
        id: calculate-node-bin-path
        run: |
          NODE_BIN_PATH=$(dirname $(which node))
          echo "path=$NODE_BIN_PATH" >> $GITHUB_OUTPUT

      - name: Run e2e
        uses: ./.github/actions/docker/run
        with:
          # Jammy uses ubuntu 22.04
          # If this is to change, make sure to upgrade the ubuntu version in GitHub Actions
          image: mcr.microsoft.com/playwright:v1.56.0-jammy
          # .cache is required by download artifact, and mount in ./.github/actions/docker/run
          # .tool_cache is required by pnpm
          options: -v ${{ runner.tool_cache }}:${{runner.tool_cache}}
          script: |
            export PATH=${{ steps.calculate-node-bin-path.outputs.path }}:$PATH
            pnpm run build:js
            pnpm run test:e2e

  test:
    runs-on: ${{ fromJSON(inputs.runner) }}
    timeout-minutes: 60
    strategy:
      fail-fast: false # wait for all test to finish for determining if it's node version based problem or general problem
      matrix:
        node: ${{ fromJSON(
          inputs.target == 'wasm32-wasip1-threads'&& '[20]'
          || contains(inputs.target, 'linux') && '[18, 20, 22]'
          || '[22]') }}
    name: Test Node ${{ matrix.node }}
    defaults:
      run:
        shell: bash
    env:
      PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: true
      PUPPETEER_SKIP_DOWNLOAD: true
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          ref: ${{ inputs.ref }}
          clean: ${{ runner.environment == 'github-hosted' }}

      - name: Download bindings
        uses: ./.github/actions/artifact/download
        with:
          name: bindings-${{ inputs.target }}
          path: crates/node_binding/

      - name: Show restored binding
        run: ls -lah crates/node_binding/

      - name: Setup Pnpm
        timeout-minutes: 5
        uses: ./.github/actions/pnpm/setup
        with:
          node-version: ${{ matrix.node }}

      - name: Pnpm Install
        uses: ./.github/actions/pnpm/install-dependencies
        with:
          save-if: ${{ github.ref_name == 'main' && matrix.node == '18' }}

      ### x86_64-unknown-linux-gnu
      - name: Test x86_64-unknown-linux-gnu
        timeout-minutes: 15 # Tests should finish within 15 mins, please fix your tests instead of changing this to a higher timeout.
        if: ${{ inputs.target == 'x86_64-unknown-linux-gnu' }}
        run: pnpm run test:ci

      ### *-apple-darwin
      - name: Test apple-darwin
        timeout-minutes: 20 # Tests should finish within 15 mins, please fix your tests instead of changing this to a higher timeout.
        if: ${{ contains(inputs.target, 'apple-darwin') }}
        run: |
          # arch is ARM and target is ARM
          if [[ '${{ runner.arch }}' == ARM* && '${{ inputs.target }}' == 'aarch64-apple-darwin' ]]; then
            pnpm run test:ci
          fi
          # arch is x64 and target is x64
          if [[ '${{ runner.arch }}' != ARM* && '${{ inputs.target }}' != 'aarch64-apple-darwin' ]]; then
            pnpm run test:ci
          fi

  diff:
    name: Rsdoctor Diff
    defaults:
      run:
        shell: bash
    steps:
      - name: Clone rspack-diff-minimal
        run: git clone git@github.com:yifancong/rspack-diff-minimal.git

      - name: Install dependencies
        working-directory: rspack-diff-minimal
        run: pnpm install

      - name: Build project
        working-directory: rspack-diff-minimal
        run: pnpm run build

      - name: Report Compressed Size
        uses: web-infra-dev/rsdoctor-action@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          file_path: "rspack-diff-minimal/dist/rsdoctor-data.json"
          target_branch: "chore/diff-v2"
