name: Reusable Release

on:
  workflow_call:
    inputs:
      target:
        required: true
        type: string
      runner: # Runner labels
        required: true
        type: string
      ref: # Git reference to checkout
        required: false
        type: string
env:
  # Since CI builds are more akin to from-scratch builds, incremental compilation adds unnecessary dependency-tracking and IO overhead, reducing caching effectiveness.
  # https://github.com/rust-lang/rust-analyzer/blob/25368d24308d6a94ffe8b99f0122bcf5a2175322/.github/workflows/ci.yaml#L11
  CARGO_INCREMENTAL: 0

permissions:
  # Allow commenting on issues
  issues: write

jobs:
  bench:
    name: Bench
    runs-on: ${{ fromJSON(inputs.runner) }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ inputs.ref }}
          clean: ${{ runner.environment == 'github-hosted' }}

      - name: Install Rust Toolchain
        uses: ./.github/actions/rustup
        with:
          save-if: true
          key: build-bench-${{ inputs.target }}

      - name: Install cargo-codspeed binary
        uses: taiki-e/install-action@dfcb1ee29051d97c8d0f2d437199570008fd5612 # v2
        with:
          tool: cargo-codspeed@2.10.1

      - name: Download bindings
        uses: ./.github/actions/artifact/download
        with:
          name: bindings-${{ inputs.target }}
          path: crates/node_binding/

      - name: Show restored binding
        run: ls -lah crates/node_binding/*.node

      - name: Download benches
        uses: ./.github/actions/artifact/download
        with:
          name: codspeed-${{ inputs.target }}
          path: target/codspeed/instrumentation/

      - name: Show Codspeed
        run: |
          ls -Rl target/codspeed/
          chmod +x  target/codspeed/instrumentation/rspack_benchmark/benches

      - name: Pnpm Setup
        timeout-minutes: 5
        uses: ./.github/actions/pnpm/setup

      - name: Pnpm Install
        uses: ./.github/actions/pnpm/install-dependencies

      - name: Build JS
        run: pnpm run build:js

      - name: Run benchmark (simulation)
        uses: ./.github/actions/codspeed
        timeout-minutes: 30
        env:
          RAYON_NUM_THREADS: 1
        with:
          mode: 'simulation'
          run: pnpm run bench:ci
          token: ${{ secrets.CODSPEED_TOKEN }}

      - name: Run benchmark (memory)
        uses: ./.github/actions/codspeed
        timeout-minutes: 30
        env:
          RAYON_NUM_THREADS: 1
        with:
          mode: 'memory'
          run: pnpm run bench:ci
          token: ${{ secrets.CODSPEED_TOKEN }}
