name: team-label

on:
  pull_request:
    types: [opened]
  issues:
    types: [opened]

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  team-labeler:
    runs-on: ubuntu-latest
    steps:
      - uses: JulienKode/team-labeler-action@edc2a1d3b252624ac7611293835edad9f1392ed4 # v2.0.2
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
