name: Test PR
on:
  merge_group:
  pull_request:
    branches:
      - "**"
      - "!release-**"
    tags-ignore:
      - "**"

# cancel previous job runs for the same workflow + pr
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false # Build and test everything so we can look at all the errors
      matrix:
        target:
          - x86_64-unknown-linux-gnu
    uses: ./.github/workflows/reusable-build.yml
    with:
      target: ${{ matrix.target }}
      docker: true
      tests: true
